@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Consultar Datos";
}


<div class="container-seguro new-family-teamwork container__header__consulta">
    
</div>

<span class="alert__notification"></span>

<div class="modal-tw hidden-modal-tw">
    <div class="modal-tw-body">

    </div>
</div>

<script type="module" src="~/Src/containers/Solicitud/__Consulta.js"></script>