@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Contratos";
}

@Html.Partial("Containers/Solicitud/_Contratos")

<div class="modal-tw hidden-modal-tw">
    <div class="modal-tw-body">

    </div>
</div>