@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Solicitudes";
}

@Html.Partial("Containers/Solicitud/_Contratos")
@Html.Partial("Containers/Solicitud/_Renovaciones")

<div class="modal-tw hidden-modal-tw">
    <div class="modal-tw-body">

    </div>
</div>

<script async>
    
    handleModalShow = (html = "") => {
        const modal = document.querySelector(".modal-tw")
        const body = document.querySelector(".modal-tw .modal-tw-body")

        modal.style.position = "fixed";
        modal.style.width = "100%";
        modal.style.height = "100%";
        modal.style.display = "block";
        modal.style.top = "0";
        modal.style.zIndex = "9999";
        modal.style.backgroundColor = "rgba(0, 0, 0, 0.5)";

        body.style.width = "50%";
        body.style.backgroundColor = "rgb(255, 255, 255)";
        body.style.minHeight = "400px";
        body.style.marginLeft = "auto";
        body.style.marginRight = "auto";
        body.style.marginTop = "5%";
        body.style.marginBottom = "5%";
        body.style.borderRadius = "5px  ";
        body.style.boxShadow = "0px 0px 10px rgba(0, 0, 0, 0.4)";

        body.innerHTML = html !== "" ? html : "";

        document.querySelector('html').style.overflowY = "hidden";
        modal.style.overflowY = "scroll";

    }

    handleModalHidden = () => {
        const modal = document.querySelector(".modal-tw")
        const body = document.querySelector(".modal-tw .modal-tw-body")

        modal.style = null;
        body.innerHTML = "";
        body.style = null;
        document.querySelector('html').style.overflowY = "auto";
    }

    

</script>