@using Teamwork.Model.Asistencia
@model List<Asistencia>
@using AplicacionOperaciones.HelpersHTML
@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "";
}
<div style="width: 100%; height: 60px;"></div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
    @Html.ButtonAdministracion(
                "button",
                new string[] {
                    "class='dspl-inline-block new-family-teamwork'",
                    "onclick='handleReturnMenuAsistencia()'"
                },
                new string[]
                {
                    "min-width: 50px",
                    "border: none",
                    "text-align: center",
                    "font-weight: 100",
                    "border: 0",
                    "margin: none",
                    "background-color: transparent!important"
                },
                new string[]
                {
                    "<span class='dspl-inline-block'><span style='width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; text-align: center;' class='btn btn-teamwork pdt-5 pdr-5 pdb-5 pdl-5'><img src='../Resources/flecha-izquierda.svg' width='30' height='30' style='position: relative; left: 10%;' /></span></span>" +
                    "<span class='new-family-teamwork' style='position: relative; float: right; margin-left: 10px; margin-top: 10px; font-size: 20px; font-wight: 100;'>Volver a Menu</span>"
                },
                true
            )
</div>

<div class="col-12 col-sm-12 col-md-12 col-lg-9" style="margin-top: 10px;">
    <select id="empresa" onchange="handleSearchAsistencia()" class="form-control new-family-teamwork" style="width: 200px; display: inline-block;">
        <option value="0" data-input="input">Seleccione Empresa</option>
        <option value="TWEST" data-input="input">EST</option>
        <option value="TWRRHH" data-input="input">OUT</option>
        <option value="TWC" data-input="input">TWC</option>
    </select>

    <input type="text" onchange="handleSearchAsistencia()" id="ficha" class="form-control" style="width: 200px; display: inline-block; font-weight:100;" placeholder="Ficha" />

    <input type="month" id="periodo" onchange="handleSearchAsistencia()" class="form-control new-family-teamwork" style="width: 230px; display: inline-block; font-weight:100;" />

    <button id="searchAsist" onclick="handleSearchAsistencia()" class="btn btn-teamwork" style="border-radius: 25px; height: 40px; text-align: left; color: #fff; font-weight:100;">
        Buscar
        <img src="~/Resources/buscar.png" width="20" height="20" style="left: -17%;" />
    </button>

    <button id="button__showLegend" onclick="handleShowLeyend()" class="btn btn-teamwork" style="border-radius: 25px; height: 40px; text-align: left; color: #fff; font-weight:100;">
        Ver Leyenda
        <img src="~/Resources/svg/view.svg" width="20" height="20" style="left: -17%;" />
    </button>

    <button id="reportAsist" onclick="handleAsistenciaReport()" class="btn btn-success" style="border-radius: 25px; height: 40px; text-align: left; color: #fff; font-weight:100; display:none;">
        Reporte
    </button>

    <select id="select__rutaFichero" class="form-control" style="width: 230px; display:none;"></select>
</div>

<div style="width: 100%; zoom:80%;">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
        <div class="row" style="margin: 20px 0 0 0;">
            <div id="divTipoAsistencia" class="col-12 col-sm-12 col-md-12 col-lg-12"></div>

            <div id="dataLeyenda" class="col-12 col-sm-12 col-md-12 col-lg-6"></div>

            <div id="divCambioMonth" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:10px; margin-bottom:10px;"></div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="errorPersonal" sstyle="text-align:center;">
                @*<span style="margin-top: 50px;"></span>*@
            </div>

            <div id="calendarioAsistencia" class="col-12 col-sm-12 col-md-12 col-lg-7"></div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                <div class="row">
                    <div id="dataTrabajador" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin:10px;"></div>
                    <div id="div__listaArchivos" class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin:10px;"></div>
                </div>
            </div>

            <div id="errorBaja" class="col-12 col-sm-12 col-md-12 col-lg-7"></div>
        </div>
    </div>


    <div class="modal fade" id="modalMsjAsistencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title family-teamwork">Libro de Asistencia</h5>
                    <button type="button" onclick="handleModalAcept()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-12">
                                    @{
                                        Html.RenderPartial("Asistencia/_ModalMensajeAsistencia");
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEditAsistencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title new-family-teamwork">Libro de Asistencia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            @{
                                Html.RenderPartial("Asistencia/_ModalCambioAsistencia");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*MODAL LEYENDA*@
    <div class="modal fade" id="modalLeyenda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title new-family-teamwork">Libro de Asistencia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-12">
                                    @{
                                        Html.RenderPartial("Asistencia/_ModalLeyenda");
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<span id="loaderSearchAsistencia"></span>
@Scripts.Render("~/bundles/asistencia")
