@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Reclutamiento y Selección";
}

<input id="input__pagination" type="hidden" />
<div class="mb-100 new-family-teamwork mt-100 ml-auto mr-auto ta-center" style="width: 92%; font-weight: 100;">
    <div class="ml-auto mr-auto ta-center" style="width:100%;">
        <div class="ta-left">
            @Html.Partial("Containers/Seleccion/_AdministracionOfertaLaboral")
        </div>
    </div>
</div>
