@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Reclutamiento y Selección";
}

<div class="row ml-auto mr-auto mt-100" style="width: 92%;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="new-family-teamwork color-100x3" style="font-weight: 100;">Subprocesos de Postulación</h1>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h4 class="new-family-teamwork color-100x3" style="font-weight: 100;">Nombre del proceso de postulación: ADMINISTRADOR DE RECURSOS HUMANOS</h4>
        <h4 class="new-family-teamwork color-100x3" style="font-weight: 100;">Codigo Referencial: 89238</h4>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <table style="width: 100%; font-weight: 100;" class="new-family-teamwork">
            <tbody>
                <tr class="bl-5-solid-428BCA bb-1-solid-200x3 bt-1-solid-200x3 br-1-solid-200x3">
                    <td></td>
                    <td>
                        <h3 class="new-family-teamwork color-100x3" style="font-weight: 100;">ADMINISTRADOR DE RECURSOS HUMANOS 12-03-2020</h3>
                        <p class="new-family-teamwork color-100x3" style="font-weight: 100;">Creado Hace 30 minutos</p>
                        <p class="new-family-teamwork color-100x3 mt-10neg" style="font-weight: 100;">Creado Por {{Username}}</p>
                        <p class="new-family-teamwork color-100x3 mt-10neg" style="font-weight: 100;">Comentarios del subproceso: {{Comentarios}}</p>
                        <div class="new-family-teamwork color-100x3 mt-10neg mb-10">
                            Etiquetas:
                            <span class="danger pdt-3 pdl-10 pdr-10 pdb-3 dspl-inline-block color-fx3" style="border-radius: 25px;">RRHH</span>
                            <span class="danger pdt-3 pdl-10 pdr-10 pdb-3 dspl-inline-block color-fx3" style="border-radius: 25px;">Recursos Humanos</span>
                        </div>
                    </td>
                </tr>
                <tr class="bl-5-solid-428BCA bb-1-solid-200x3 bt-1-solid-200x3 br-1-solid-200x3">
                    <td></td>
                    <td>
                        <h3 class="new-family-teamwork color-100x3" style="font-weight: 100;">ADMINISTRADOR DE RECURSOS HUMANOS 11-03-2020</h3>
                        <p class="new-family-teamwork color-100x3" style="font-weight: 100;">Creado Hace 30 minutos</p>
                        <p class="new-family-teamwork color-100x3 mt-10neg" style="font-weight: 100;">Creado Por {{Username}}</p>
                        <p class="new-family-teamwork color-100x3 mt-10neg" style="font-weight: 100;">Comentarios del subproceso: {{Comentarios}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
