@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Reclutamiento y Selección";
}

<div class="mb-100 new-family-teamwork mt-100 ml-auto mr-auto ta-center" style="width: 92%; font-weight: 100; display: inline-flex;" >
    <div class="ml-auto mb-20">
        @Html.ButtonAdministracion(
                    "button",
                    new string[] {
                        "class='dspl-inline-block new-family-teamwork'",
                        "onclick='handleReturnMenuSeleccion()'"
                    },
                    new string[]
                    {
                        "min-width: 50px",
                        "border: none",
                        "text-align: center",
                        "font-weight: 100",
                        "border: 0",
                        "margin: none",
                        "background-color: transparent!important"
                    },
                    new string[]
                    {
                        "<span class='dspl-inline-block'><span style='width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; text-align: center;' class='btn btn-teamwork pdt-5 pdr-5 pdb-5 pdl-5'><img src='../Resources/flecha-izquierda.svg' width='30' height='30' style='position: relative; left: 10%;' /></span></span>" +
                        "<span class='new-family-teamwork' style='position: relative; float: right; margin-left: 10px; margin-top: 10px; font-size: 20px; font-wight: 100;'>Volver a Menu</span>"
                    },
                    true
                )
    </div>
    <div class="ml-auto mr-auto ta-center" style="width:70%;">
        <div class="ta-left">
            <h1 class="new-family-teamwork mb-20" style="font-weight: 100;">Administrador de Intereses Laborales</h1>

            @Html.Partial("Containers/Seleccion/_AdministracionTags")
        </div>
    </div>
</div>
