@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Pagar";
}
<span id="loader" class="dspl-none">
    @Html.Partial("_LoaderTransaccion")
</span>
<div class="row mt-100" id="contentRecepcion">
    @Html.Partial("Recepcion/_BoxPagar")
</div>

<script>
    function emptyBarcode() {
        $("#codigoDespacho").val('');
    }

    function validaMatch() {
        if ($("#codigoCheque").val() != "" && $("#codigoCheque").val() != undefined && $("#codigoFiniquito").val() != "" && $("#codigoFiniquito").val() != undefined) {
            $("#btnMatch").trigger("click");
        }
    }

</script>
