<div class="modal fade" id="modalAnulacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title family-teamwork">Anulación Solicitud de Baja</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="family-teamwork">
                            Al anular esta solicitud esta indicando la cancelación de toda acción asociada a la gestión de la baja de esta persona,
                            al confirmar esta acción el area de bajas sera notificado via mail.
                        </p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="family-teamwork">
                            Antes de continuar favor indique el motivo de la anulación
                        </p>
                    </div>
                    @using (Ajax.BeginForm("AnularSolicitudBaja", "Bajas", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "solicitudBajas",
                        OnBegin = "bloqueaBoton",
                        OnSuccess = "cerrarModal"
                    }))
                    {
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="text" class="form-control" required name="razonAnulacionBaja" style="width:400px;" />
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <a href="#" class="btn btn-danger" data-dismiss="modal" style="border-radius: 25px; height: 40px; float:right; margin-top: 12px;margin-left:5px; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">Anulación</i>
                                </span>
                            </a>
                            <input type="text" name="codigoSolicitud" class="dspl-none" id="codigoSolicitud" />
                            <button id="btnAnularBajaOk" type="submit" class="btn btn-success" style="border-radius: 25px; height: 40px; margin-top: 12px; float:right; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Confirmar</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">Anulación</i>
                                </span>
                            </button>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

