<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
        <h1 class="family-teamwork">LECTURA DE CODIGO DE BARRA PARA FINIQUITOS</h1>
        <p class="family-teamwork">Escanea el código de barra ubicado en la parte derecha superior de la caratula o el finiquito</p>
        <img src="~/Resources/ilustracionlecturadocumentos.jpg" style="width: 300px;" />
        @using (Ajax.BeginForm("ReaderBarcodeStage", "Bajas", new AjaxOptions() {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contentPayment",
            OnSuccess = "ModalPaymentBarcodeShow",
            LoadingElementId = "loader"
        }))
        {
            <input type="text" name="readerBarcode" id="readerBarcode" />
            <button type="submit" class="dspl-none"></button>
        }
    </div>
</div>