@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Recepcion";
}
<span id="loader" class="dspl-none">
    @Html.Partial("_LoaderTransaccion")
</span>
<div class="row mt-100" id="contentRecepcion">
    @Html.Partial("Recepcion/_BoxRecepcionar")
</div>
@using (Ajax.BeginForm("AperturarBox", "Recepcion", new AjaxOptions() {
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "contentRecepcion",
    LoadingElementId = "loader",
    OnSuccess = "emptyBarcode"
}, new { @style = "position: absolute; top: 0; display: block; height: 100%; width: 100%; left: 0;" }))
{
    <input type="text" name="codigoDespacho" id="codigoDespacho" style="width: 100%; position: absolute; top: 0; height: 100%; background-color: rgba(0, 0, 0, 0); color: rgba(0, 0, 0, 0);" autocomplete="off" />
    <input type="submit" value="ENVIAR" class="mt-100 dspl-block" style="z-index: 999999999999999; position: absolute;"  />
}

<script>
    function emptyBarcode(){
        $("#codigoDespacho").val('');
    }
    
</script>