@{
    Layout = "~/Views/Shared/_MenuLogin.cshtml";
}

<div class="row row-md-responsive row-sm-responsive">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row" id="contentLogin">
            @if (Session["CodificarAuth"] != null && Session["NombreUsuario"].ToString() != null && Session["RenderizadoPermisos"] != null)
            {
                Html.RenderPartial("_TokenAuthLoading");
            }
            else
            {
                Html.RenderPartial("_FormLogin");
            }
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-100 mt-70-responsive-sm">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                <label class="family-teamwork ta-right dspl-blc color-150x3">
                    Copyright &copy; TeamWork @DateTime.Now.Year &bull; TeamWork Sistemas
                </label>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>

@Html.Partial("_ModalNavegadorNoCompatible")

@Scripts.Render("~/bundles/signin")
