@{
    Layout = "~/Views/Shared/_MenuLogin.cshtml";
    
}

<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-md-1 col-lg-1"></div>
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 responsive-md-blind-style">
            <h1 class="family-teamwork fs-30 color-70x3 mt-responsive-md">Plataforma TeamWork</h1>
            <h2 class="family-teamwork fs-18 color-70x3">
                Plataforma integrada de sistemas internos de TeamWork para gestionar los
                procesos internos de cada área.
            </h2>
        </div>
        <div class="col-md-1 col-lg-1"></div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-50">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h1 class="family-teamwork fs-30 ta-center">Cerrando Sesión para el colaborador de Teamwork</h1>
            <ul class="loading">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <p class="family-teamwork fs-20 ta-center ml-auto mr-auto" style="width: 70%;">Espere un momento mientras cerramos su sesión en la plataforma Teamwork Contratos, esto puede tomar un rato...</p>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-100 mt-70-responsive-sm">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-10">
            <label class="family-teamwork ta-right dspl-blc color-150x3">
                Copyright &copy; TeamWork @DateTime.Now.Year &bull; TeamWork Sistemas
            </label>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>