<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
    <img src="~/Resources/check.png" class="ml-auto mr-auto mb-30 dspl-inline-block" style="width: 50px;">
    <h1 class="family-teamwork mt-30neg">La noticia fue publicada en el feed de noticias exitosamente!</h1>
    <p class="family-teamwork" style="font-size: 20px;">Nota: deberia poder ver la noticia disponible en el feed de noticias de la pagina de Teamwork, en la siguiente enlace <a href="https://www.team-work.cl/noticias">Feed Noticias Teamwork</a>.</p>
    <a href="#" class="btn btn-teamwork eventRestore dspl-inline-block" style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
        <span style="display: inline-block; margin-top: -7px;">
            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Entiendo Volver</i>
            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block;">A Generar Noticia</i>
        </span>
    </a>
</div>
