
<input type="text" class="form-control new-family-teamwork dspl-inline-block select__element" id="descripcionTag" placeholder="Agregar Interes Laboral" autocomplete="off" data-select="select__tag"
       onfocus="handleClickSelect(this)" onkeyup="handleKeydownBuscarTags(this)" style="font-weight: 100; width: 300px;" />

<button id="guardaTag" 
        class="btn new-family-teamwork fs-18 dspl-inline-block"
        style="min-width: 50px; border: none; text-align: center; font-weight: 100; border: 0; margin: none; background-color: transparent!important; font-weight: 100"
        onclick="handleSaveTag()">
    <span style='width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; text-align: center;'
          class='btn btn-teamwork pdt-5 pdr-5 pdb-5 pdl-5'>
        <img src='~/Resources/mas.svg' width='30' height='30' style='position: relative; left: 10%;' />
    </span>
</button>
<div class="select-filter-init select__element" id="select__tag" data-target="descripcionTag"></div>



