
    <select id="filterType" class="form-control new-family-teamwork dspl-inline-block mr-10" style="font-weight: 100; width: 250px;">
        <option value="">Selecciones Filtro</option>
        <option value="CodigoSolicitud">Codigo Solicitud</option>
        <option value="CARGO">Cargo</option>
        @*<option value="DescripcionCorta">Encabezado Oferta Laboral</option>*@
    </select>


<input type="text" id="filterOfertaLaboral" placeholder="Buscar..." onkeydown="handleKeydownSearch(this)" data-target="searchOfertaLaboral" class="form-control new-family-teamwork dspl-inline-block" style="font-weight: 100; width: 250px;" />

<select id="selTargets" class="form-control new-family-teamwork dspl-inline-block mr-10" style="font-weight: 100; width: 250px; display: none;"></select>


@*<button id="searchOfertaLaboral" class="btn btn-teamwork color-fx3 new-family-teamwork" style="border-radius: 50px; font-weight: 100;" onclick="handleSearchOfertaLaboral()">
    Buscar
</button>*@

<button id="searchOfertaLaboral" class="btn new-family-teamwork fs-18 dspl-inline-block"
        style="min-width: 50px; border: none; text-align: center; font-weight: 100; border: 0; margin: none; background-color: transparent!important; font-weight: 100"
        onclick="handleSearchOfertaLaboral()">
    <span style='width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; text-align: center;'
          class='btn btn-teamwork pdt-5 pdr-5 pdb-5 pdl-5'>
        <img src='~/Resources/buscar.svg' width='30' height='30' style='position: relative; left: 10%;' />
    </span>
</button>