
<div id="div__alert__tag" style="display: none;">
    <span id="alertSuccessTag" class="alert alert-success fade" role="alert"></span>
    <span id="alertErrorTag" class="alert alert-danger fade" role="alert"></span>
</div>

<div id="divTags" class="mt-20 new-family-teamwork">

</div>

@*<div id="div__TagPagination" class="mt-10 new-family-teamwork ta-center"></div>*@