@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Reclutamiento y Selección";
    
    string prefixApp = "";
    string urlServer = "";

    prefixApp = "/AplicacionOperaciones";

    if (!Request.Url.AbsoluteUri.Split('/')[2].Contains("localhost"))
    {
        urlServer = "181.190.6.196";
    }
    else
    {
        urlServer = "localhost:46903";
    }

    ViewBag.EnlaceTeamsjob = "http://" + urlServer + prefixApp + "/Auth/TokenAuth?events=teamsjob&oauth=tokenintegrate";
}



<div class="row ml-auto mr-auto mt-100" style="width: 92%; text-align:center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-50">
        <h1 class="new-family-teamwork dspl-block" style="font-weight: 100;">Menu Reclutamiento y Selección</h1>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-50">
        <Button type="button" class="dspl-inline-block btn-success mr-10" style="vertical-align: top; width: 220px; height: 220px; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;" data-reference="Tags" onclick="handleClickRedirectAction(this)">
            <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">Administrador</h1>
            <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">Intereses Laborales</h2>
            <img src="~/Resources/datoindiv.svg" width="50" height="50" />
        </Button>
        <Button type="button" class="dspl-inline-block btn-warning mb-10 mr-10" style="vertical-align: top; width: 220px; height: 220px; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;" data-reference="OfertasLaborales" onclick="handleClickRedirectAction(this)">
            <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">Administrador</h1>
            <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">Ofertas Laborales</h2>
            <img src="~/Resources/lista.svg" width="50" height="50" />
        </Button>
        <div class="dspl-inline-block mb-10" style="vertical-align: top;">
            <a href="@ViewBag.EnlaceTeamsjob" target="_blank" class="dspl-inline-block btn-teamwork mb-10" style="text-decoration: none; width: 220px; height: 220px; display: flex; align-items: center; vertical-align: middle; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
                <span class="ta-center display-block" style="width: 100%;">
                    <h1 class="family-teamwork fw-bold ta-center color-fx3 ta-center" style="font-size: 22px;">Administrador</h1>
                    <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">Teamsjob</h2>
                    <img src="~/Resources/app.svg" width="50" height="50" class="m-auto" />
                </span>
            </a>
        </div>
    </div>
</div>

<script async>

    const __APP = ""; //"/AplicacionOperaciones";
    const __SERVERHOST = `${window.location.origin}${__APP}`;

    handleClickRedirectAction = (e) => {
        window.location.href = `${__SERVERHOST}/Seleccion/${e.dataset.reference}`
    }

</script>
