@{
    Layout = "~/Views/Shared/_MenuEmptyApp.cshtml";
    ViewBag.Title = "Reportes";
}
@using Teamwork.Model.Seleccion
@model List<Request>

@foreach (Request item in Model)
{
    switch (item.Code)
    {
        case "200":
            <h1 class="new-family-teamwork ta-center mt-50" style="font-weight: 100;">Ficha del Postulante - Selección Teamwork</h1>
            <div class="ml-auto mr-auto mt-50" style="width: 40%;" id="content__ficha__postulante">
                <div class="ml-auto mr-auto dspl-inline-block" style="width: calc(100% / 2 - 3px); vertical-align: top;">
                    <label class="switch-md" style="display: inline-block;">
                        <input type="radio" name="tipoDNI" value="Rut" id="tipoDNI__Rut" checked onchange="handleChangeTipoDNI(this)" />
                        <span class="slider teamwork"></span>
                    </label>
                    <label for="tipoDNI__Rut" class="fst-normal new-family-teamwork dspl-inline-block mt-5neg mr-20 ta-left cursor-pointer" style="font-weight: 100;">Rut</label>
                    <label class="switch-md" style="display: inline-block;">
                        <input type="radio" name="tipoDNI" value="Pasaporte" id="tipoDNI__Pasaporte" onchange="handleChangeTipoDNI(this)" />
                        <span class="slider teamwork"></span>
                    </label>
                    <label for="tipoDNI__Pasaporte" class="fst-normal new-family-teamwork dspl-inline-block mt-5neg ta-left cursor-pointer" style="font-weight: 100;">Pasaporte</label>
                </div>
                <div class="ml-auto mr-auto dspl-inline-block" style="width: calc(100% / 2 - 3px); vertical-align: top;">
                    <input type="text" class="teamwork__input new-family-teamwork form__native__survey" required id="input__dni" onclick="handleClickInput(this)" onfocus="handleClickInput(this)"
                           onblur="handleBlurInput(this)" data-target="legend__dni" data-error="error__dni" />
                    <label class="new-family-teamwork teamwork__legend" id="legend__dni" for="input__dni">Indique su Rut</label>
                    <span id="error__dni" class="new-family-teamwork span__target__error"></span>
                </div>
                <div class="ml-auto mr-auto mt-50" style="width: 100%; vertical-align: top;">
                    <input type="text" class="teamwork__input new-family-teamwork form__native__survey" required id="input__name" onclick="handleClickInput(this)" onfocus="handleClickInput(this)"
                           onblur="handleBlurInput(this)" data-target="legend__name" />
                    <label class="new-family-teamwork teamwork__legend" id="legend__name" for="input__name">Indique su nombre</label>
                </div>
                <div class="ml-auto mr-auto mt-50 dspl-inline-block" style="width: calc(100% / 2 - 3px); vertical-align: top;">
                    <input type="text" class="teamwork__input new-family-teamwork form__native__survey" required id="input__nativesurname" onclick="handleClickInput(this)" onfocus="handleClickInput(this)" onblur="handleBlurInput(this)" data-target="legend__nativesurname" />
                    <label class="new-family-teamwork teamwork__legend" id="legend__nativesurname" for="input__nativesurname">Indique su Apellido Paterno</label>
                </div>
                <div class="ml-auto mr-auto mt-50 dspl-inline-block" style="width: calc(100% / 2 - 3px); vertical-align: top;">
                    <input type="text" class="teamwork__input new-family-teamwork form__native__survey" required id="input__surname" onclick="handleClickInput(this)" onfocus="handleClickInput(this)" onblur="handleBlurInput(this)" data-target="legend__surname" />
                    <label class="new-family-teamwork teamwork__legend" id="legend__surname" for="input__surname">Indique su Apellido Materno</label>
                </div>
                <div class="ml-auto mr-auto mt-50" style="width: 100%; vertical-align: top;">
                    <input type="text" class="teamwork__input new-family-teamwork form__native__survey" required id="input__email" onclick="handleClickInput(this)" onfocus="handleClickInput(this)" onblur="handleBlurInput(this)" data-target="legend__email" />
                    <label class="new-family-teamwork teamwork__legend" id="legend__email" for="input__email">Indique su Correo Electrónico</label>
                </div>
                <div class="ml-auto mr-auto mt-50 dspl-inline-block" style="width: calc(100% / 2 - 3px); vertical-align: top;">
                    <input type="text" data-datepicker="datepicker-desde" required class="datepickerteamwork new-family-teamwork datepicker__input form__native__survey" id="datepicker-desde-input"
                           onclick="handleClickDatePicker(this)" onfocus="handleClickDatePicker(this)" onblur="handleBlurDatepicker(this)" data-legend="datepicker-birthdate-legend"
                           onkeyup="handleKeyDownDatepicker(this)" data-day="" data-month="" data-year="" data-targeterror="error__birthdate" />
                    <label for="datepicker-desde-input" class="datepicker__legend new-family-teamwork" onclick="handleClickDatepickerLegend(this)" id="datepicker-birthdate-legend">Fecha de Nacimiento</label>
                    <span id="error__birthdate" class="new-family-teamwork span__target__error"></span>
                    <div class="datepicker-teamwork datepickerteamwork" id="datepicker-desde">
                    </div>
                </div>
                <div class="ml-auto mr-auto mt-50 dspl-inline-block" style="width: calc(100% / 2 - 3px); vertical-align: top;">
                    <input type="text" class="teamwork__input new-family-teamwork form__native__survey" required id="input__phone" onclick="handleClickInput(this)" onfocus="handleClickInput(this)" onblur="handleBlurInput(this)" data-target="legend__phone" />
                    <label class="new-family-teamwork teamwork__legend" id="legend__phone" for="input__phone">Indique su Telefeno</label>
                </div>
                <div class="ml-auto mr-auto mt-50" style="width: 100%; vertical-align: top;">
                    <input type="text" class="teamwork__input new-family-teamwork form__native__survey" required id="input__address" onclick="handleClickInput(this)" onfocus="handleClickInput(this)" onblur="handleBlurInput(this)" data-target="legend__address" />
                    <label class="new-family-teamwork teamwork__legend" id="legend__address" for="input__address">Indique su Dirección</label>
                </div>
                <div class="ml-auto mr-auto mt-50" style="width: 100%; vertical-align: top;">
                    <input type="text" class="teamwork__input new-family-teamwork form__native__survey" required id="input__comuna" onclick="handleClickInput(this)" onfocus="handleClickInput(this)" onblur="handleBlurInput(this)" data-target="legend__comuna" />
                    <label class="new-family-teamwork teamwork__legend" id="legend__comuna" for="input__comuna">Indique Comuna</label>
                </div>
            </div>
            <div class="ml-auto mr-auto mt-50 ta-right mb-100" style="width: 40%;">
                @Html.ButtonAdministracion(
                    "button",
                    new string[] {
                        "id='button__siguiente'",
                        "class='dspl-inline-block new-family-teamwork'",
                        "onclick='handleClickSubmit()'"
                    },
                    new string[]
                    {
                        "min-width: 50px",
                        "border: none",
                        "text-align: center",
                        "font-weight: 100",
                        "border: 0",
                        "margin: none",
                        "background-color: transparent!important"
                    },
                    new string[]
                    {
                        "<span class='dspl-inline-block'><span style='width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; text-align: center;' " +
                        "class='btn btn-teamwork'" +
                        " pdt-5 pdr-5 pdb-5 pdl-5'><img src='../../../../Resources/flecha-correcta.svg' width='30' height='30' style='position: relative; left: -4%;' /></span></span>" +
                        "<span class='new-family-teamwork' style='position: relative; float: left; margin-right: 10px; margin-top: 10px; font-size: 20px; font-wight: 100;'>Actualizar Ficha</span>"
                    },
                    true
                )
            </div>
            break;
        default:
            <div class="ml-auto mr-auto mt-200 mb-200" style="width: 70%;">

                <img src="../../../Resources/cargamasivasvg/rechazado.svg" width="100" height="100" class="ml-auto mr-auto dspl-block" />

                <h1 class="new-family-teamwork ta-center mt-10" style="font-weight: 100;">Ups! Invitación Rechazada</h1>

                <p class="new-family-teamwork ta-center mt-30" style="font-weight: 100; font-size: 18px;">@item.Message</p>
            </div>
            break;
    }
}

<script async src="~/Scripts/teamwork/datepicker.js"></script>
<script async src="~/Scripts/teamwork/input.js"></script>
<script async src="~/Scripts/teamwork/AjaxPostulante.js"></script>