<div class="modal fade" id="modalActualizarProvee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="family-teamwork" name="nombreModal">Actualizar Proveedor </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="family-teamwork" style="font-size: 18px;">Nombre actual: <b><span id="nombreProvedor" class="mt-2neg dspl-inline-block"></span></b></p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        @using (Ajax.BeginForm("ActualizarProveedores", "Finanzas", FormMethod.Post, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            OnSuccess = "returnSection"

                        }))
                        {
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <label class="family-teamwork fw-bold">Nuevo Nombre del Proveedor</label>    
                                    <input type="text" class="family-teamwork form-control" placeholder="Indique nuevo nombre" required name="nombreModal" id="nombreModal" />
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-20 mb-20">
                                    <input type="text" class="dspl-none" name="rutModal" id="rutModal" />
                                    <button href="#" class="cursor-pointer btn btn-success dspl-inline-block ta-left color-fx3 br-25 height-50"
                                            data-motivoanulacion="" data-codigotransaccion="" data-tipoevento="">
                                        <i class="glyphicon-tw-6 glyphicon-tw-check dspl-inlblc mb-15neg"></i>
                                        <span class="dspl-inlblc">
                                            <i class="family-teamwork dspl-blc fs-14 fst-normal mb-8neg">Actualizar</i>
                                            <i class="family-teamwork dspl-blc fs-14 fst-normal">Proveedor</i>
                                        </span>
                                    </button>
                                    <a href="#" class="eventDescartarActualizacion dspl-inline-block btn btn-danger ta-left color-fx3 br-25 height-50">
                                        <i class="glyphicon-tw-6 glyphicon-tw-cancel dspl-inlblc mb-15neg"></i>
                                        <span class="dspl-inlblc">
                                            <i class="family-teamwork dspl-blc fs-14 fst-normal mb-8neg">Descartar la</i>
                                            <i class="family-teamwork dspl-blc fs-14 fst-normal">Actualización</i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>