@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Remuneraciones";
}

<div class="row ml-auto mr-auto mt-100" style="width: 92%;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="family-teamwork ta-center">Conectividad Area de Remuneraciones con Teamwork</h1>
    </div>
</div>
<div class="row ml-auto mr-auto mt-40" style="width: 92%;">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-20">
        <Button type="button" class="dspl-block btn-danger" style="width: 220px; height: 220px; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
            <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">Administrador</h1>
            <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">Variables de Bonos</h2>
            <img src="~/Resources/datoindiv.svg" width="50" height="50" />
        </Button>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-20">
        <Button type="button" class="dspl-block btn-warning" style="width: 220px; height: 220px; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
            <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">Administrador</h1>
            <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">Variables de Asig. No Imp.</h2>
            <img src="~/Resources/datoindiv.svg" width="50" height="50" />
        </Button>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-20">
        <Button type="button" class="dspl-block btn-create" style="width: 220px; height: 220px; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
            <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">Administrador</h1>
            <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">Asignación de Bonos</h2>
            <img src="~/Resources/lista.svg" width="50" height="50" />
        </Button>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mt-20">
        <Button type="button" class="dspl-block btn-success" style="width: 220px; height: 220px; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); border: none;">
            <h1 class="family-teamwork fw-bold ta-center color-fx3" style="font-size: 22px;">Administración</h1>
            <h2 class="family-teamwork ta-center mt-10neg color-fx3" style="font-size: 19px;">Cargo Mod</h2>
            <img src="~/Resources/sueldo.svg" width="50" height="50" />
        </Button>
    </div>
</div>



<script async>



</script>