@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Historial";
    
}

<div class="row mt-100">
    <div class="col-lg-3"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <table class="table table-bordered family-teamwork">
            <thead class="thead-dark">
                <tr>
                    <th scope="row">Estado</th>
                    <th>Fecha Evento</th>
                    <th>Usuario</th>
                    <th>Comentarios</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AplicacionOperaciones.Models.Historial item in (List<AplicacionOperaciones.Models.Historial>)ViewBag.RenderizadoHistorial) {
                    <tr>
                        <th>@item.Estado</th>
                        <th>@item.Fecha</th>
                        <th>@item.Usuario</th>
                        <th>@item.Comentario</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-3"></div>
</div>