
        
        <div id="divOfertasLaborales" class="mt-30 new-family-teamwork" style="width: 100%">

        </div>



        <div id="divTagsOfertaLaboral" class="mt-30" style="width: 0; vertical-align: top; display:none;">
            <div class="mb-10">
                <h3><b>Intereses laborales</b></h3>
            </div>


            <div class="mb-10">
                @Html.Partial("Containers/Seleccion/_CrearTag")
            </div>

            <div style="display:none;">
                @Html.Partial("Containers/Seleccion/_FiltroTag")
            </div>

            <div class="mb-10">
                <input type="hidden" id="inputIdOfertaLaboral"/>
                @Html.Partial("Containers/Seleccion/_Tags")
            </div>
        </div>


