<div class="row mt-10">
    <div class="col-lg-1"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10">
        <h1 class="family-teamwork">▶ Enlace de la Noticia</h1>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row mt-10">
    <div class="col-lg-1"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10">
        <h4 class="family-teamwork mt-10neg">Indicar el enlace externo referencial para la noticia</h4>
        <input type="text" id="enlace" class="family-teamwork form-control" placeholder="Ejemplo. https://www.team-work.cl" />
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row mt-10">
    <div class="col-lg-1"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10">
        <h4 class="family-teamwork cursor-pointer" data-toggle="collapse" data-target="#collapseAvanzadoEnlace" aria-expanded="false" aria-controls="collapseAvanzadoEnlace">Configuración avanzada de enlace ▼</h4>
        <table class="family-teamwork collapse" id="collapseAvanzadoEnlace">
            <tbody>
                <tr>
                    <td>
                        <label class="switch" style="display: inline-block;">
                            <input type="radio" class="" name="typeWindow" value="_blank" checked="checked" />
                            <span class="slider teamwork"></span>
                        </label>
                    </td>
                    <td>
                        <h5 class="family-teamwork fw-bold">Enlace disponible en nueva pestaña</h5>
                        <p>
                            Esto indica que el enlace al hacer clic sobre la noticia se abrira en una nueva pestaña.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="switch" style="display: inline-block;">
                            <input type="radio" class="" name="typeWindow" value="" />
                            <span class="slider teamwork"></span>
                        </label>
                    </td>
                    <td>
                        <h5 class="family-teamwork fw-bold">Enlace disponible en misma pestaña</h5>
                        <p>
                            Esto indica que el enlace al hacer clic sobre la noticia se redireccionara en la misma pagina donde esta interactuando con el feed de noticias
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-1"></div>
</div>