<div class="row mt-10">
    <div class="col-lg-1"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10">
        <h1 class="family-teamwork">▶ Subtitulo de la Noticia</h1>
    </div>
    <div class="col-lg-1"></div>
</div>
<div class="row mt-10">
    <div class="col-lg-1"></div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-10">
        <div class="grid-container">
            <div class="grid-width-100" id="editorSubTitulo">
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
