<div class="adjoined-top">
    <div class="grid-container">
        <div class="content grid-width-100 ta-center">
            <h1 class="mb-50">Envio de Correo Electrónico &bull; Teamwork Informa!</h1>
            <img src="~/Resources/check.png" class="ml-auto mr-auto mb-30 dspl-inline-block" style="width: 50px;">
            <h1 class="family-teamwork mt-30neg">Correo Teamwork Informa Enviado exitosamente!</h1>
        </div>
    </div>
</div>
<div class="row ml-auto mr-auto mt-30" style="width: 92%;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
        <p class="family-teamwork" style="font-size: 20px;">El correo fue enviado a su casilla de correo electrónico, ahi puede enviarlo a donde usted estime conveniente.</p>
        <p class="family-teamwork">Importante: el correo puede tomar algunos momentos en que llegue a su casilla de correo debido a que si es un mensaje extenso, tomará algun tiempo en procesar dicha información.</p>
        <a href="#" class="btn btn-teamwork eventRestore dspl-inline-block" style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
            <span style="display: inline-block; margin-top: -7px;">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Entiendo Volver</i>
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">A Generar Correo</i>
            </span>
        </a>
    </div>
</div>