<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
        <h2 class="family-teamwork">Fecha de Emisión para Documento de Complemento</h2>
        <p class="family-teamwork ta-center">
            Indique la fecha de emisión del documento, la cual se verá reflejada en el documento al momento de crear este. Es importante que debe considerar que la fecha que indica queda
            bajo su responsabilidad.
        </p>
        @using (Ajax.BeginForm("ContinuarEtapa", "Bajas", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "contentPayment",
            LoadingElementId = "loader"
        }, new { @style = "display: block; text-align: center;" }))
        {
            <input type="date" required name="fecha" class="family-teamwork br-1-solid-200x3 bl-1-solid-200x3 bt-1-solid-200x3 bb-1-solid-200x3 input-nofocus dspl-block m-auto ta-center pdt-10 pdb-10" style="width: 40%;" />
            
            <input type="text" class="dspl-none" name="option" value="ConfirmarCreacionDocumento" />
            <input type="text" class="dspl-none" name="codigoComplemento" value="@ViewBag.CodigoComplemento" />
            <input type="text" class="dspl-none" name="codigoFiniquito" value="@ViewBag.CodigoFiniquito" />
            <button type="submit" class="btn btn-teamwork"
                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-next" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Crear Documento</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">Complemento</i>
                </span>
            </button>
        }
        <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
           style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
            <span style="display: inline-block; margin-top: -7px;">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">Cerrar</i>
            </span>
        </a>
    </div>
</div>