@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Emisión de Reportes";
}
<div class="row mt-100 ml-auto mr-auto" style="width: 92%;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
        <h1 class="new-family-teamwork" style="font-size: 40px; font-weight: 100;">
            <i class="glyphicon-tw-5 glyphicon-tw-grafico"></i> Emisión de Reportes de Sistema
        </h1>
        <img src="~/Resources/excelx2.png" style="width: 100px;" class="dspl-block ml-auto mr-auto mt-100 mb-20" />
        <h1 class="new-family-teamwork ta-center color-70x3 mt-10neg" style="font-weight: 100;">@Html.Raw(ViewBag.ReferenciaMessageReporte)</h1>
        <h4 class="new-family-teamwork ta-center color-70x3 mt-10neg" style="font-weight: 100;">@Html.Raw(ViewBag.ReferenciaMessageReporteImp)</h4>
        <h1 class="new-family-teamwork ta-center color-70x3" style="font-size: 50px; font-weight: 100;">Sistema de Finiquitos</h1>
    </div>
</div>
@if (ViewBag.ReferenciaReporteExcel)
{
    <script async>
        setTimeout(() => {
            window.location.reload();
        }, 1000);
    </script>
} 
else
{
    if (!ViewBag.ReferenciaSuccessExcel)
    {
        <script async>
            window.location.reload();
        </script>
    }
}

