<div class="mt-100 ml-auto mr-auto" style="width: 92%; font-weight: 100;">
    <h1 class="new-family-teamwork" style="font-weight: 100;">
        <i class="glyphicon-tw-5 glyphicon-tw-documento"></i> Solicitudes de Renovaciones
    </h1>
    <div class="mt-50">
        <select id="filterRenovaciones" class="form-control family-teamwork eventSearchSolicitudes new-family-teamwork" style="width: 200px; display: inline-block; font-weight: 100;">
            <option value="">Seleccione Filtro</option>
            <option value="Ficha">Ficha</option>
            <option value="Rut">Rut Trabajador</option>
            <option value="Nombre">Nombre Trabajador</option>
            <option value="Cliente">Cliente (Area de Negocio)</option>
        </select>
        <input type="text" id="dataFilterRenovaciones" class="form-control new-family-teamwork dspl-inline-block" style="width: 300px; font-weight: 100;" />
        <button class="btn btn-teamwork color-fx3 new-family-teamwork pdt-10 pdl-20 pdr-20 pdb-10" style="font-weight: 100; border: none; border-radius: 50px;"
                id="button__buscarSolicitudesRenovaciones" data-input="dataFilterRenovaciones" data-selector="filterRenovaciones">Buscar Solicitud</button>
    </div>
</div>
<span id="target__notify__event__Renovaciones"></span>
<table style="width: 92%; font-weight: 100;" class="mt-50 ml-auto mr-auto new-family-teamwork" id="solicitudRenovaciones">
    <tbody>
        <tr style="border-left: 5px solid rgb(200, 200, 200);" class="br-1-solid-200x3 bb-1-solid-200x3 bt-1-solid-200x3 mb-5">
            <td style="width: 10%;" class="ta-center">
                <span class="pdt-5 pdb-5 pdr-20 pdl-20 color-fx3" style="border-radius: 50px; background-color: rgb(200, 200, 200);"></span>
            </td>
            <td style="width: 50%;">
                <h1 style="font-size: 20px; height: 20px; width: 70%; background-color: rgb(200, 200, 200);" class="mt-20 color-70x3"></h1>
                <p>Creado <b>Cargando información...</b></p>
                <p class="mt-15neg">Nombre Proceso: Cargando información...<b></b></p>
                <p class="mt-15neg">Fechas de compromiso: <b>Cargando información...</b>, Con Prioridad <b>Cargando información...</b></p>
                <p>Comentarios Solicitud: Cargando información...</p>
            </td>
            <td></td>
        </tr>
        <tr style="border-left: 5px solid rgb(200, 200, 200);" class="br-1-solid-200x3 bb-1-solid-200x3 bt-1-solid-200x3 mb-5">
            <td style="width: 10%;" class="ta-center">
                <span class="pdt-5 pdb-5 pdr-20 pdl-20 color-fx3" style="border-radius: 50px; background-color: rgb(200, 200, 200);"></span>
            </td>
            <td style="width: 50%;">
                <h1 style="font-size: 20px; height: 20px; width: 70%; background-color: rgb(200, 200, 200);" class="mt-20 color-70x3"></h1>
                <p>Creado <b>Cargando información...</b></p>
                <p class="mt-15neg">Nombre Proceso: Cargando información...<b></b></p>
                <p class="mt-15neg">Fechas de compromiso: <b>Cargando información...</b>, Con Prioridad <b>Cargando información...</b></p>
                <p>Comentarios Solicitud: Cargando información...</p>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="mb-100 ta-center  new-family-teamwork mt-50" style="width: 92%; font-weight: 100;">
    <div id="pagination__solicitudRenovaciones"></div>
</div>

<script type="module" src="~/Src/containers/Solicitud/Renovaciones.js"></script>