
@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Jornadas Laborales";
}

<div style="width: 100%; height: 60px;"></div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
    <div class="row ml-auto mr-auto" style="width:92%">
        @Html.ButtonAdministracion(
                    "button",
                    new string[] {
                        "class='dspl-inline-block new-family-teamwork'",
                        "onclick='handleReturnMenuAsistencia()'"
                    },
                    new string[]
                    {
                        "min-width: 50px",
                        "border: none",
                        "text-align: center",
                        "font-weight: 100",
                        "border: 0",
                        "margin: none",
                        "background-color: transparent!important"
                    },
                    new string[]
                    {
                        "<span class='dspl-inline-block'><span style='width: 50px; height: 50px; border-radius: 50%; display: flex; align-items: center; text-align: center;' class='btn btn-teamwork pdt-5 pdr-5 pdb-5 pdl-5'><img src='../Resources/flecha-izquierda.svg' width='30' height='30' style='position: relative; left: 10%;' /></span></span>" +
                        "<span class='new-family-teamwork' style='position: relative; float: right; margin-left: 10px; margin-top: 10px; font-size: 20px; font-wight: 100;'>Volver a Menu</span>"
                    },
                    true
                )
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 30px;">
        <div class="row ml-auto mr-auto" style="width:92%; text-align:center;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center" style="margin-bottom: 40px;">
                <h2 class="new-family-teamwor" style="font-weight:100;">
                    Administración Jornadas Laborales
                </h2>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <select id="empresa" onchange="handleChangeEmpresa()" class="form-control new-family-teamwork" style="width: 250px; display: inline-block;">
                    <option value="0" data-input="input">Seleccione Empresa</option>
                    <option value="TWEST" data-input="input">EST</option>
                    <option value="TWRRHH" data-input="input">OUT</option>
                    <option value="TWC" data-input="input">TWC</option>
                </select>

                <select id="areaNegocio" onchange="handleObtenerJornadaLaboral()" class="form-control new-family-teamwork" style="width: 250px; display: inline-block;">
                    <option value="0" data-input="input">Seleccione Area de Negocio</option>
                </select>

                <button id="searchJornadas" onclick="handleObtenerJornadaLaboral()" class="btn btn-teamwork" style="border-radius: 25px; height: 40px; text-align: left; color: #fff; font-weight:100;">
                    Buscar
                    <img src="~/Resources/buscar.png" width="20" height="20" style="left: -17%;" />
                </button>

                <div id="div__tipoAccion" style="margin-top: 10px; display: inline-block; margin-left: 30px;">
                    <span class="new-new-family-teamwork" style="font-weight:100; margin-right: 5px;">Ver</span>
                    <label class="switch">
                        <input type="checkbox" id="check__tipoAccion" onchange="handleChangeAction()" style="display: inline-block; font-weight:100;">
                        <span class="slider round"></span>
                    </label>
                    <span class="new-new-family-teamwork" style="font-weight:100; margin-right: 5px;">Nueva</span>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div id="div__message" style="margin-top: 10px;"></div>

                <div id="div__jornadaLaboral" style="margin-top: 10px;"></div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jornadalaboral")
