@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Administrar Gastos";
}

<div class="row mt-100 ml-auto mr-auto mb-20" style="width: 92%;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
            <i class="glyphicon-tw-5 glyphicon-tw-anexos2"></i>Administracion de Gastos
        </h1>
        <h2 class="family-teamwork fs-20">
            Administracion de Gastos de Finanzas
        </h2>
    </div>
</div>

<div class="row ml-auto mr-auto mb-20" style="width: 92%;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-20 ml-auto mr-auto" style="width: 92%;">
        @using (Ajax.BeginForm("Gastos", "Finanzas", FormMethod.Post, new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "gastos",
            OnBegin = "onBegin",
            OnSuccess = "onSuccess",
            LoadingElementId = "loader"
        }))
        {
            <input type="text" name="pagination" value="MS01" class="dspl-none" />
            <label style="font-family: 'Open Sans Condensed', sans-serif; line-height: 5px; display: block;">Aplicar Filtrado de Gastos</label>
            <select class="form-control family-teamwork" style="width: 200px; display: inline-block;" id="typeFilter" name="typeFilter">
                <option value="none">Seleccione Filtro</option>
                <option value="Code">Código</option>
                <option value="NumDoc">Número Documento</option>
                <option value="Periodo">Periodo</option>
            </select>
            <input type="text" class="form-control family-teamwork dspl-inline-block dspl-none" autocomplete="off" style="width: 300px;" id="filterDatos" name="dataFilter" />
            <input type="text" class="form-control family-teamwork dspl-inline-block datepicker dspl-none" autocomplete="off" style="width: 300px;" id="filterDatosDate" readonly />
            <button type="submit" class="btn btn-teamwork dspl-none" id="btnBuscarGastos"
                    style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-buscar" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Buscar</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Gastos</i>
                </span>
            </button>
            <a href="#" class="btn btn-warning eventRestore dspl-inline-block" style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-deshacer" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Restablecer</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block;">Listado</i>
                </span>
            </a>
            <a href="#" class="eventReportGas btn btn-success mt-4"
               style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-asignado" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                 font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Obtener Reporte</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">Gasto</i>
                </span>
            </a>
        }
    </div>
</div>
<div class="row mt-10 ml-auto mr-auto mb-20" style="width: 92%;">

</div>

<div class="row ml-auto mr-auto mb-20" style="width: 92%;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="gastos">
        @Html.Partial("Finanzas/_Gastos")
    </div>
</div>




@Html.Partial("Finanzas/_ModalReporteGasto")

<script>

    $(document).on("click", ".eventReportGas", function (e) {
        e.preventDefault();

        $("#modalReporteGasto").modal("show");
    });

    $("#typeFilter").on("change", function () {
        switch ($(this).val()) {
            case "Periodo":
                $("#filterDatosDate").show().attr("name", "dataFilter").attr("placeholder", "Seleccione Periodo");
                $("#filterDatos").hide().removeAttr("name");
                $("#btnBuscarGastos").show();
                break;
            case "none":
                $("#filterDatosDate").hide().removeAttr("name");
                $("#filterDatos").hide().removeAttr("name");
                $("#btnBuscarGastos").hide();
                break;
            default:
                $("#filterDatos").show().attr("name", "dataFilter").attr("placeholder", "Ingrese Valor");;
                $("#filterDatosDate").hide().removeAttr("name");
                $("#btnBuscarGastos").show();
                break;
        }
    });

    function onBegin() {

    }

    function onSuccess() {
        $("#loader").addClass('dspl-none').removeClass('dspl-block');
        $("#formGroupExampleInput").val('');
        $("#idnameprovee").val('');
    }
    $(".eventRestore").on("click", function (e) {
        e.preventDefault();
        window.location.reload();

    });

    $(function () {
        $(".datepicker").datepicker();
        $(".datepicker").datepicker("option", "dateFormat", 'mm-yy');

    });

</script>

