@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Mis Gastos";
}


<div class="row mt-100 ml-auto mr-auto mb-20" style="width: 92%;>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 style="font-family: 'Open Sans Condensed', sans-serif; font-size: 40px;">
            <i class="glyphicon-tw-5 glyphicon-tw-anexos2"></i> Mis Gastos
        </h1>
        <h2 class="family-teamwork fs-20">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et sapien lacinia metus consectetur laoreet et feugiat eros. Mauris hendrerit magna quis semper facilisis. Morbi lacinia tempus nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Duis lectus lorem, lobortis eget ipsum vitae, malesuada euismod erat. Curabitur scelerisque ut turpis nec sagittis. Aliquam id lacinia ex. Suspendisse eget dignissim risus.
        </h2>
    </div>
</div>

<div class="row mt-40 ml-auto mr-auto mb-20" style="width: 92%;>
    <div class="table-responsive-md">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo Documento</th>
                    <th scope="col">Concepto de Gasto</th>
                    <th scope="col">Area Negocio</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Monto Solicitado</th>
                    <th scope="col">Monto Aprobado</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row">EST1907201901</th>
                    <td>Factura</td>
                    <td>Transporte</td>
                    <td>EST</td>
                    <td>AAA</td>
                    <td>$200.000</td>
                    <td>$180.000</td>
                    <td>Aprobado</td>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="row">OUT1907201902</th>
                    <td>Boleta</td>
                    <td>Vestuario</td>
                    <td>OUT</td>
                    <td>EEE</td>
                    <td>$2.000</td>
                    <td>$0</td>
                    <td>Rechazado</td>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="row">OUT1907201903</th>
                    <td>Boleta</td>
                    <td>Restorant</td>
                    <td>OUT</td>
                    <td>III</td>
                    <td>.-</td>
                    <td>$0</td>
                    <td>Pendiente Visado</td>
                    <th>
                        <button type="button" class="btn btn-secondary">Accion 1</button>
                        <button type="button" class="btn btn-secondary">Accion 2</button>
                        <button type="button" class="btn btn-secondary">Accion 3</button>
                    </th>
                </tr>
        </table>
    </div>
</div>

<div class="ml-100 mb-20 mt-50">
    <a href="#" class="btn btn-success color-fx3 br-25 height-50">
        <i class="glyphicon-tw-6 glyphicon-tw-dinero dspl-inlblc mb-15neg"></i>
        <span class="dspl-inlblc mr-28">
            <i class="family-teamwork dspl-blc fs-14 fst-normal ">Regresar</i>
            <i class="family-teamwork dspl-blc fs-14 fst-normal">Paginas</i>
        </span>
    </a>
</div>
