<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        @Html.Partial("Operaciones/_SeleccionaBono")
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-30" id="contentBonos">
        @Html.Partial("Operaciones/_ListaBonos")
    </div>
</div>