<div class="modal fade" id="modalConfirmacionEvento" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body" id="contentOperaciones">
            </div>
        </div>
    </div>
</div>
