<div class="col-12 col-sm-12 col-md-12 col-lg-10 mb-20" style="padding-left: 0; padding-right: 0;">
    <div id="content-complete-autocomplete-ani" style="visibility: hidden; position: absolute; z-index: 9; top: 0; left: 20px; width: 100%; border: 1px solid rgb(200, 200, 200); padding-top: .5%; padding-bottom: .5%;
                background-color: rgb(240, 240, 240);" class="ml-0">
        <div onclick="handleClickEnabledANI()" style="visibility: visible; background-color: rgb(240, 240, 240);">
            <span disabled="disabled" id="enabled-ani" class="dspl-block m-auto pdl-5 pdr-5 pdt-5 pdb-5 family-teamwork ta-center cursor-pointer
                        br-1-solid-200x3 bb-1-solid-200x3 bt-1-solid-200x3 bl-1-solid-200x3" style="width: 99%; font-size: 17px;">SELECCIONE ASIG. NO IMPONIBLE &#x25BE;</span>
        </div>
        <div id="content-busqueda-autocomplete-ani" style="visibility: hidden;">
            @using (Ajax.BeginForm("AutocompleteANI", "Finanzas", new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "contentElementAutocomplete-ani",
                InsertionMode = InsertionMode.Replace
            }, new { @style = "display: block;" }))
            {
                <input type="text" name="dataFilter" onkeyup="handleKeyUpAutocompleteCLI()" id="busqueda-automplete-ani" autocomplete="off" class="dspl-block m-auto pdl-30 pdr-5 pdt-5 pdb-5 family-teamwork input-nofocus" style="width: 99%; text-transform: uppercase;" placeholder="Buscar Asignacion No Imponible" />
                
                <i class="glyphicon-tw-buscarselect" style="margin-left: 14px; margin-top: -30px; width: 20px; height: 20px; position: absolute;"></i>
                <input type="submit" id="btnAutocompleteani" class="dspl-none" />
            }

        </div>
        <div id="content-element-autocomplete-ani" class="m-auto family-teamwork" style="visibility: hidden; height: 200px; background-color: #fff; width: 99%; overflow-y: scroll; ">
            <div id="contentElementAutocomplete-ani">
                @Html.Partial("Teamwork/_ANIElementAutocomplete")
            </div>
        </div>
    </div>
</div>

<script async>

    handleKeyUpAutocompleteANI = () => {
        document.getElementById("btnAutocompleteani").click()
    }

    handleClickOptionANI = (e) => {
        const contentBusquedaAutocompleteANI = document.getElementById("content-busqueda-autocomplete-ani")
        const contentElementAutocompleteANI = document.getElementById("content-element-autocomplete-ani")
        const contentCompleteAutocompleteANI = document.getElementById("content-complete-autocomplete-ani")
        const elementSelectAutocompleteANI = document.getElementById("enabled-ani")

        document.getElementById("aniCodigo").value = e.value
        elementSelectAutocompleteANI.innerHTML = `${e.dataset.htmlValue} &#x25BE;`

        const BottomTriangle = `${convertTriangleTopBottom(elementSelectAutocompleteANI.innerHTML)} &#x25BE;`
        contentElementAutocompleteANI.style.visibility = 'hidden'
        contentBusquedaAutocompleteANI.style.visibility = 'hidden'
        contentCompleteAutocompleteANI.style.visibility = 'hidden'
        elementSelectAutocompleteANI.innerHTML = BottomTriangle
    }

    handleClickEnabledANI = () => {
        const contentBusquedaAutocompleteANI = document.getElementById("content-busqueda-autocomplete-ani")
        const contentElementAutocompleteANI = document.getElementById("content-element-autocomplete-ani")
        const contentCompleteAutocompleteANI = document.getElementById("content-complete-autocomplete-ani")

        const elementSelectAutocompleteANI = document.getElementById("enabled-ani")

        if (contentBusquedaAutocompleteANI.style.visibility === "hidden") {
            const topTriangle = `${convertTriangleTopBottom(elementSelectAutocompleteANI.innerHTML)} &#x25B4;`
            contentElementAutocompleteANI.style.visibility = 'visible'
            contentBusquedaAutocompleteANI.style.visibility = 'visible'
            contentCompleteAutocompleteANI.style.visibility = 'visible'
            elementSelectAutocompleteANI.innerHTML = topTriangle
        }
        else {
            const BottomTriangle = `${convertTriangleTopBottom(elementSelectAutocompleteANI.innerHTML)} &#x25BE;`
            contentElementAutocompleteANI.style.visibility = 'hidden'
            contentBusquedaAutocompleteANI.style.visibility = 'hidden'
            contentCompleteAutocompleteANI.style.visibility = 'hidden'
            elementSelectAutocompleteANI.innerHTML = BottomTriangle
        }
    }

</script>