<div class="col-12 col-sm-12 col-md-12 col-lg-10 mb-20" style="padding-left: 0; padding-right: 0;">
    <div id="content-complete-autocomplete" style="visibility: hidden; position: absolute; z-index: 9; top: 0; left: 20px; width: 100%; border: 1px solid rgb(200, 200, 200); padding-top: .5%; padding-bottom: .5%;
                background-color: rgb(240, 240, 240);" class="autocomplete ml-0">
        <div onclick="handleClickEnabledBono()" style="visibility: visible; background-color: rgb(240, 240, 240);">
            <span disabled="disabled" id="enabled-bono" class="dspl-block m-auto pdl-5 pdr-5 pdt-5 pdb-5 family-teamwork ta-center cursor-pointer
                        br-1-solid-200x3 bb-1-solid-200x3 bt-1-solid-200x3 bl-1-solid-200x3" style="width: 99%; font-size: 17px;">SELECCIONE BONO &#x25BE;</span>
        </div>
        <div id="content-busqueda-autocomplete" style="visibility: hidden;">
            @using (Ajax.BeginForm("AutocompleteBonos", "Finanzas", new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "contentElementAutocomplete",
                InsertionMode = InsertionMode.Replace
            }, new { @style = "display: block;" }))
            {
                <input type="text" class="dspl-none" name="cliente" value="@Session["ApplicationCliente"].ToString()" />
                <input type="text" name="dataFilter" onkeyup="handleKeyUpAutocompleteBono()" autocomplete="off" class="dspl-block m-auto pdl-30 pdr-5 pdt-5 pdb-5 family-teamwork input-nofocus" id="busqueda-automplete" style="width: 99%; text-transform: uppercase;" placeholder="Buscar Bono" />
                <i class="glyphicon-tw-buscarselect" style="margin-left: 14px; margin-top: -30px; width: 20px; height: 20px; position: absolute;"></i>
                <input type="submit" id="btnAutocomplete-ani" class="dspl-none" />
            }

        </div>
        <div id="content-element-autocomplete" class="m-auto family-teamwork" style="visibility: hidden; height: 200px; background-color: #fff; width: 99%; overflow-y: scroll; ">
            <div id="contentElementAutocomplete">
                @Html.Partial("Teamwork/_BonosElementAutocomplete")
            </div>
        </div>
    </div>
</div>
<script async>

    handleKeyUpAutocompleteBono = () => {
        document.getElementById("btnAutocomplete").click()
    }

    handleClickOptionBono = (e) => {
        const contentBusquedaAutocomplete = document.getElementById("content-busqueda-autocomplete")
        const contentElementAutocomplete = document.getElementById("content-element-autocomplete")
        const contentCompleteAutocomplete = document.getElementById("content-complete-autocomplete")
        const elementSelectAutocomplete = document.getElementById("enabled-bono")

        document.getElementById("bonoCodigo").value = e.value
        elementSelectAutocomplete.innerHTML = `${e.dataset.htmlValue} &#x25BE;`

        const BottomTriangle = `${convertTriangleTopBottom(elementSelectAutocomplete.innerHTML)} &#x25BE;`
        contentElementAutocomplete.style.visibility = 'hidden'
        contentBusquedaAutocomplete.style.visibility = 'hidden'
        contentCompleteAutocomplete.style.visibility = 'hidden'
        elementSelectAutocomplete.innerHTML = BottomTriangle
    }

    handleClickEnabledBono = () => {
        const contentBusquedaAutocomplete = document.getElementById("content-busqueda-autocomplete")
        const contentElementAutocomplete = document.getElementById("content-element-autocomplete")
        const contentCompleteAutocomplete = document.getElementById("content-complete-autocomplete")

        const elementSelectAutocomplete = document.getElementById("enabled-bono")

        if (contentBusquedaAutocomplete.style.visibility === "hidden")
        {
            const topTriangle = `${convertTriangleTopBottom(elementSelectAutocomplete.innerHTML)} &#x25B4;`
            contentElementAutocomplete.style.visibility = 'visible'
            contentBusquedaAutocomplete.style.visibility = 'visible'
            contentCompleteAutocomplete.style.visibility = 'visible'
            elementSelectAutocomplete.innerHTML = topTriangle
        }
        else
        {
            const BottomTriangle = `${convertTriangleTopBottom(elementSelectAutocomplete.innerHTML)} &#x25BE;`
            contentElementAutocomplete.style.visibility = 'hidden'
            contentBusquedaAutocomplete.style.visibility = 'hidden'
            contentCompleteAutocomplete.style.visibility = 'hidden'
            elementSelectAutocomplete.innerHTML = BottomTriangle
        }
    }
    
</script>