<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="success dspl-inline-block glyphicon-tw-check"></div>
    <div style="width: 100px; height: 5px;" class="success dspl-inline-block"></div>
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="success dspl-inline-block glyphicon-tw-check"></div>
    <div style="width: 100px; height: 5px;" class="success dspl-inline-block"></div>
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="success dspl-inline-block glyphicon-tw-check"></div>
    <div style="width: 100px; height: 5px;" class="success dspl-inline-block"></div>
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="success dspl-inline-block glyphicon-tw-pdf"></div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
    <div style="width: 100px; border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Selección de Tipo de Pago
    </div>
    <div style="width: 60px; height: 5px;" class="dspl-inline-block"></div>
    <div style="width: 100px;border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Incorporación de Cheques
    </div>
    <div style="width: 60px; height: 5px;" class="dspl-inline-block"></div>
    <div style="width: 100px; border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Confirmación de Incorporaciones
    </div>
    <div style="width: 60px; height: 5px;" class="dspl-inline-block"></div>
    <div style="width: 100px; border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Obtención de Archivo de Cheques
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="family-teamwork"><i class="glyphicon-tw-5 glyphicon-tw-cheque"></i> Proceso de pago por cheque: Emision de Cheques</h1>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-7">
    <embed src="@ViewBag.EmbedPdf" width="700" height="700" />
    <div style="margin-top: -600px; width: 100%; height: 600px; text-align: center;">
        <img src="~/Resources/pdfcolorreal-x2.png" style="width: 50px; display: block; margin: auto;" />
        <h1 class="family-teamwork">Cargando PDF<br />Espere un momento...</h1>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-5 ta-center">
    <img src="/Resources/corregir.png" class="ml-auto mr-auto dspl-inline-block" style="width: 50px;">
    <h1 class="family-teamwork">Proceso de Cheques ha finalizado exitosamente!</h1>
    <p class="family-teamwork">A continuación puede descargar el reporte de cheques emitidos en este proceso en formato excel</p>
</div>