<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
    <img src="/Resources/corregir.png" class="ml-auto mr-auto dspl-inline-block" style="width: 70px;">
    <h1 class="family-teamwork ta-center mb-50">Se ha despachado a la sucursal correspondiente</h1><img src="/Resources/caja.png" class="ml-auto mr-50 dspl-inline-block mb-30" style="width: 130px;">
    <img src="/Resources/camion.png" class="ml-auto mr-auto dspl-inline-block mb-30" style="width: 100px;">
    <img src="/Resources/edificio.png" class="ml-50 mr-auto dspl-inline-block mb-30" style="width: 130px;">
    <p class="family-teamwork" style=" font-size: 20px; width: 80%; margin: auto;">Importante: El comprobante de despacho se puede obtener desde el enlace siguiente, el cual es importante debido a que contiene la información necesaria para realizar la recepción del contenedor en la sucursal de destino.</p>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
    <button type="submit" class="btn btn-success"
            style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
        <span style="display: inline-block; margin-top: -7px;">
            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Entiendo y</i>
            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block;">Terminar</i>
        </span>
    </button>
    <a href="@ViewBag.ReferenciaPdfComprobante" target="_blank" class="btn btn-danger"
            style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
        <i class="glyphicon-tw-7 glyphicon-tw-pdf" style="display: inline-block;"></i>
        <span style="display: inline-block; margin-top: -7px;">
            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Descargar Comprobante</i>
            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block;">de Despacho PDF</i>
        </span>
    </a>
</div>