<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="success dspl-inline-block glyphicon-tw-check"></div>
    <div style="width: 100px; height: 5px;" class="success dspl-inline-block"></div>
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="success dspl-inline-block glyphicon-tw-check"></div>
    <div style="width: 100px; height: 5px;" class="success dspl-inline-block"></div>
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="success dspl-inline-block glyphicon-tw-check"></div>
    <div style="width: 100px; height: 5px;" class="success dspl-inline-block"></div>
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="warning dspl-inline-block glyphicon-tw-pdf"></div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
    <div style="width: 100px; border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Selección de Tipo de Pago
    </div>
    <div style="width: 60px; height: 5px;" class="dspl-inline-block"></div>
    <div style="width: 100px;border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Incorporación de Cheques
    </div>
    <div style="width: 60px; height: 5px;" class="dspl-inline-block"></div>
    <div style="width: 100px; border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Confirmación de Incorporaciones
    </div>
    <div style="width: 60px; height: 5px;" class="dspl-inline-block"></div>
    <div style="width: 100px; border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Obtención de Archivo de Cheques
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="family-teamwork"><i class="glyphicon-tw-5 glyphicon-tw-cheque"></i> Proceso de pago por cheque: Emision de Cheques</h1>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    @using (Ajax.BeginForm("ReturnStageInicial", "Finanzas", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "procesoPago",
        LoadingElementId = "loader"
    }))
    {
        <button type="submit" class="btn btn-teamwork"
                style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-actualizar" style="display: inline-block;"></i>
            <span style="display: inline-block; margin-top: -7px;">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Volver a Seleccionar</i>
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">Metodo de Pago</i>
            </span>
        </button>
    }
    @using (Ajax.BeginForm("ReturnStageIncorporacionCheques", "Finanzas", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "procesoPago",
        LoadingElementId = "loader"
    }))
    {
        <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
        <button type="submit" class="btn btn-danger"
                style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-reasignar" style="display: inline-block;"></i>
            <span style="display: inline-block; margin-top: -7px;">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Volver a Inclusión de</i>
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Cheques en Proceso</i>
            </span>
        </button>
    }
    @using (Ajax.BeginForm("ReturnStageConfirmacionCheques", "Finanzas", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "procesoPago",
        LoadingElementId = "loader"
    }))
    {
        <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
        <button type="submit" class="btn btn-danger"
                style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-reasignar" style="display: inline-block;"></i>
            <span style="display: inline-block; margin-top: -7px;">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Volver a Confirmación de</i>
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block;">Cheques en Proceso</i>
            </span>
        </button>
    }
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <img src="~/Resources/preventa.png" style="width: 100px;" class="dspl-block m-auto" />
</div>
<div class="col-lg-1 col-md-1"></div>
<div class="col-12 col-sm-12 col-md-10 col-lg-10 mt-30 ta-center">
    @using (Ajax.BeginForm("EmitirProcesoCHQ", "Finanzas", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "procesoPago",
        LoadingElementId = "loader"
    }, new { @style = "display: block;" }))
    {
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <select class="form-control form-control-lg family-teamwork ta-center" style="width: 100%; text-align: center;" required name="empresa">
                    <option value="">Seleccione la empresa para el proceso de emisión de cheque</option>
                    <option value="TWEST">Servicio Transitorio</option>
                    <option value="TWRRHH">Recursos Humanos</option>
                </select>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-30">
                <input type="text" name="codigoProceso" value="@ViewBag.ReferenciaCodigoProceso" class="dspl-none" />
                <button type="submit" class="btn btn-success" id="btnBuscarCuentas"
                        style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Terminar y Emitir</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Archivo de Cheques</i>
                    </span>
                </button>
            </div>
        </div>
    }

</div>
<div class="col-lg-1 col-md-1"></div>