<div class="modal fade" id="modalActualizarGasto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="family-teamwork" name="nombreModal">Actualizar Gasto</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        @*<p class="family-teamwork" style="font-size: 18px;">Proveedor Actual: <b><span id="nombreProvedor" class="mt-2neg dspl-inline-block"></span></b></p>
                        <p class="family-teamwork" style="font-size: 18px;">Número Actual: <b><span id="numFactura" class="mt-2neg dspl-inline-block"></span></b></p>
                        <p class="family-teamwork" style="font-size: 18px;">Descripción: <b><span id="descripcionId" class="mt-2neg dspl-inline-block"></span></b></p>*@
           
                    </div>
                   
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-1">


                        @using (Ajax.BeginForm("MantenedorGastosX", "Finanzas", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "mgastosid"
                        }, new { @style = "display: block;" }))
                        {
                        <div class="col-12 col-sm-12  col-md-12 col-lg-12 errorModal" id="message">

                            <div id="mgastosid">
                            </div>

                        </div>
                            <input type="text" class="dspl-none" name="acciones" value="SCOD" />
                            <input type="text" class="dspl-none" name="idproveedor" id="idproveedorM" />
                            <input type="text" class="dspl-none" name="IdEmpresa" id="IdEmpresaM" />
                            <input type="text" class="dspl-none" name="IdTipoDoc" id="IdTipoDocM" />
                            <input type="text" class="dspl-none" name="token" id="tokenM" />
                            <input type="text" class="dspl-none" name="IdNumDoc" id="idnumerodocM" />
                            <input type="text" class="dspl-none" name="descripcion" value="" />


                            <button type="submit" class="btn btn-success mt-10" id="btnBuscarSolicitud"
                                    style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                                <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                                <span style="display: inline-block; margin-top: -7px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Mostrar</i>
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                    font-size: 14px; font-style: normal; display: block;">Gasto</i>
                                </span>
                            </button>
                        }
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-10">
                        @using (Ajax.BeginForm("MantenedorGastosX", "Finanzas", FormMethod.Post, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            OnSuccess = "returnSection"

                        }))
                        {
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <label class="family-teamwork fw-bold">Proveedor</label>
                                    <select class="form-control" id="ddlProveedor" name="idproveedor">
                                    </select>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="text" class="dspl-none" name="token" id="tokenU" />
                                    <input type="text" class="dspl-none" name="IdEmpresa" id="IdEmpresaU" />
                                    <input type="text" class="dspl-none" name="IdTipoDoc" id="IdTipoDocU" />
                                    <label class="family-teamwork fw-bold">Número de documento</label>
                                    <input type="number" class="family-teamwork form-control" placeholder="Indique" required name="IdNumDoc" id="idnumerodocU" />
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <label class="family-teamwork fw-bold">Descripción</label>
                                    <input type="text" class="family-teamwork form-control" placeholder="Indique " required name="descripcion" id="iddescipcion" />
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-20 mb-20">
                                    <input type="text" class="dspl-none" name="acciones" value="UP" />
                                    <button href="#" class="cursor-pointer btn btn-success dspl-inline-block ta-left color-fx3 br-25 height-50"
                                            data-motivoanulacion="" data-codigotransaccion="" data-tipoevento="">
                                        <i class="glyphicon-tw-6 glyphicon-tw-check dspl-inlblc mb-15neg"></i>
                                        <span class="dspl-inlblc">
                                            <i class="family-teamwork dspl-blc fs-14 fst-normal mb-8neg">Actualizar</i>
                                            <i class="family-teamwork dspl-blc fs-14 fst-normal">Gasto</i>
                                        </span>
                                    </button>
                                    <a href="#" class="eventDescartarActualizacion dspl-inline-block btn btn-danger ta-left color-fx3 br-25 height-50">
                                        <i class="glyphicon-tw-6 glyphicon-tw-cancel dspl-inlblc mb-15neg"></i>
                                        <span class="dspl-inlblc">
                                            <i class="family-teamwork dspl-blc fs-14 fst-normal mb-8neg">Descartar la</i>
                                            <i class="family-teamwork dspl-blc fs-14 fst-normal">Actualización</i>
                                        </span>
                                    </a>
                                </div>
                            </div>

                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script>

   
 

    $(document).on("click", ".eventMostrarCodigos", function (e) {
        e.preventDefault
        alert("Codigos");

    });


    $(document).on("click", ".eventDescartarActualizacion", function (e) {
        e.preventDefault
        $("#modalActualizarGasto").modal("hide");

    });
</script>