<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="family-teamwork ta-center" style="font-size: 30px;">AGREGAR CUENTA BANCARIA</h1>
    </div>
</div>
<div class="row">
    @using (Ajax.BeginForm("AgregarCuentaBancaria", "Finanzas", new AjaxOptions() {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "cuentasBancariasModal",
        LoadingElementId = "loader"
    }))
    {
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <select class="form-control family-teamwork" id="bancoFilter" name="banco" required>
                <option value="">Seleccione Banco</option>
                <option value="SANTANDER">Banco Santander</option>
                <option value="BANCO DE CHILE">Banco de Chile</option>
            </select>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-30">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <input type="text" class="form-control family-teamwork" name="rutCuenta" placeholder="Rut Cuenta" required />
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <input type="text" class="form-control family-teamwork" name="numeroCuenta" placeholder="Numero de Cuenta" required />
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-30">
            <textarea placeholder="Indicar Glosa de Cuenta" name="glosa" class="form-control family-teamwork" style="max-width: 100%; min-width: 100%; min-height: 150px; max-height: 150px;"></textarea>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-30">
            <button type="submit" class="btn btn-success"
                    style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Agregar Cuenta</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                font-size: 14px; font-style: normal; display: block;">Bancaria</i>
                </span>
            </button>
            <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
               style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                </span>
            </a>
        </div>
    }
</div>