@switch ((string)ViewBag.OptionActionValorDiario)
{
    case "EliminarValorDiario":
        <div class="ta-center">
            <h2 class="family-teamwork">¿Quiere eliminar el valor diario?</h2>
            <p class="family-teamwork">
                El valor diario será eliminado de manerá permanente, por lo cual no podrá ser recuperado de ninguna manera, si lo elimina y fue por error, deberá volver a crearlo, sabiendo esto, desea continuar con la eliminación.
            </p>
            @using (Ajax.BeginForm("EliminarValorDiario", "Finanzas", new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "contentListaValoresDiarios",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "loader",
                OnSuccess = "HideModalConfirm"
            }))
            {
                <input type="text" name="empresa" value="@ViewBag.Empresa" class="dspl-none" />
                <input type="text" name="cargoMod" value="@ViewBag.CargoMod" class="dspl-none" />
                <button type="submit" class="btn btn-success"
                        style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                    <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                    <span style="display: inline-block; margin-top: -7px;">
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Eliminar</i>
                        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                                    font-size: 14px; font-style: normal; display: block;">Valor Diario</i>
                    </span>
                </button>
            }

            <a href="#" data-dismiss="modal" type="submit" class="btn btn-danger"
               style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-cancel" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Cancelar y</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                            font-size: 14px; font-style: normal; display: block;">Cerrar</i>
                </span>
            </a>
        </div>
        
        break;
}
