<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="success dspl-inline-block glyphicon-tw-check"></div>
    <div style="width: 100px; height: 5px;" class="success dspl-inline-block"></div>
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="success dspl-inline-block glyphicon-tw-check"></div>
    <div style="width: 100px; height: 5px;" class="success dspl-inline-block"></div>
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="success dspl-inline-block glyphicon-tw-check"></div>
    <div style="width: 100px; height: 5px;" class="success dspl-inline-block"></div>
    <div style="width: 60px; height: 60px; border-radius: 50%; background-size: 50%;" class="success dspl-inline-block glyphicon-tw-excel"></div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
    <div style="width: 100px; border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Selección de Tipo de Pago
    </div>
    <div style="width: 60px; height: 5px;" class="dspl-inline-block"></div>
    <div style="width: 100px;border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Incorporación de Vale Vista
    </div>
    <div style="width: 60px; height: 5px;" class="dspl-inline-block"></div>
    <div style="width: 100px; border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Confirmación de Incorporaciones
    </div>
    <div style="width: 60px; height: 5px;" class="dspl-inline-block"></div>
    <div style="width: 100px; border-radius: 50%; font-size: 12px;" class="dspl-inline-block family-teamwork">
        Obtención de Archivo de Vale Vista
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="family-teamwork"><i class="glyphicon-tw-5 glyphicon-tw-transferbank"></i> Proceso de pago por Vale Vista: Envio de Archivo de Vale Vista</h1>
</div>
<div class="col-lg-1 col-md-1"></div>
<div class="col-12 col-sm-12 col-md-10 col-lg-10 mt-30 ta-center">
    <img src="/Resources/corregir.png" class="ml-auto mr-auto dspl-inline-block" style="width: 70px;">
    <h1 class="family-teamwork">Proceso de Vale Vista ha finalizado exitosamente!</h1>
    <p class="family-teamwork" style="font-size: 20px;">El archivo excel con la nomina de Vale Vista indicadas en este proceso de pago, han sido enviadas a su correo Teamwork.</p>
    <p class="family-teamwork">Importante: si no ve el correo en su bandeja de entrada, favor revisar que no haya llegado como spam, de lo contrario levantar ticket por mesa de ayuda para volver a ser emitido el archivo de Vale Vista.</p>
    @using (Ajax.BeginForm("ReturnStageInicial", "Finanzas", new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "procesoPago",
        LoadingElementId = "loader"
    }))
    {
        <button type="submit" class="btn btn-success mt-30"
                style="border-radius: 25px; height: 40px; text-align: left; color: #fff;">
            <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
            <span style="display: inline-block; margin-top: -7px;">
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                    font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Terminar e Iniciar</i>
                <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-size: 14px; font-style: normal; display: block;">Nuevo Proceso</i>
            </span>
        </button>
    }
</div>
<div class="col-lg-1 col-md-1"></div>
