<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center">
        <img src="~/Resources/errorwarning.png" style="width: 50px;" />
        <p class="family-teamwork" style="font-size: 20px;">@ViewBag.ReferenciaHtmlError</p>
        @using (Ajax.BeginForm("RenderizadoCuentasOrigen", "Finanzas", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "cuentasOrigen",
            LoadingElementId = "loader",
            OnSuccess = "hideModalCuentaBancaria"
        }))
        {
            <input type="text" name="pagination" value="@ViewBag.ReferenciaPaginationIndex" class="dspl-none" />
            <button type="submit" class="btn btn-success"
                    style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                <span style="display: inline-block; margin-top: -7px;">
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Terminar y</i>
                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                                font-size: 14px; font-style: normal; display: block;">Actualizar</i>
                </span>
            </button>
        }
    </div>
</div>
