@{
    Layout = "~/Views/Shared/_MenuBarcode.cshtml";
    ViewBag.Title = "Lectura inteligente";
}
<style>
    form {
        display: block;
    }
</style>

<div id="contentStageBarcode">
    @switch ((string)ViewBag.RenderizdoTypeReaderBarcode)
    {
        case "QXV0b3JpemFjaW9uUGFnbw==":
            Html.RenderPartial("Teamwork/_AutorizacionFiniquito");
            break;
        case "VmFsaWRhY2lvblBhZ28=":
            Html.RenderPartial("Teamwork/_ValidacionFiniquito");
            break;
        default:
            <h1>No ha seleccionado ninguna lectura, vuelva al menu de lecturas inteligentes y seleccione alguna opción.</h1>
            break;
    }
</div>


@using (Ajax.BeginForm("EventReadBarcode", "Teamwork", new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "contentStageBarcode",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "loaderReaderBarcode"
}))
{
    <input type="text" name="barcode" id="barcode" class="color-fx3" style="position: absolute; top: 0; left: 0; width: 100%; height: 100vh; border: none; outline: none; background-color: rgba(255, 255, 255, 0);" autocomplete="off" />
    <button type="submit" id="eventBarcode" class="dspl-none">
        enviar a validar
    </button>

}

<script>
    $("#barcode").focus();

    $("#barcode").on("keypress", function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            $("#eventBarcode").trigger("click");
            $("#barcode").focusout();
            disabledEventReaderBarcode();
        }
    });

    function loaderReaderBarcode() {
        $("#loaderReaderBarcode").html("Procesando el codigo de barra, espere un momento...");
    }

    function disabledEventReaderBarcode() {
        $("#barcode").addClass("dspl-none");
    }

    function activeEventReaderBarcode() {
        $("#barcode").val('').removeClass("dspl-none").focus();
    }
</script>