<label class="family-teamwork color-100x3 fs-20 dspl-blc ta-center">@ViewData["LabelText"]</label>
<div class="btn @ViewData["GlyphiconColor"] dspl-block"
     style="margin-top: -4px; border-radius: 25px; height: 40px; text-align: left; color: #fff;">
    <i class="glyphicon-tw-7 glyphicon-tw-informacion" style="display: inline-block;"></i>
    <span class="dspl-inline-block mt-12neg">
        <i style="font-family: 'Open Sans Condensed', sans-serif;
                                font-size: 16px; font-style: normal; display: block; margin-bottom: -8px;">@ViewData["Text"]</i>
    </span>
</div>