
@foreach (AplicacionOperaciones.Models.Kam item in (List<AplicacionOperaciones.Models.Kam>)ViewBag.RenderizadoKams)
{
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <span class="family-teamwork fw-bold dspl-block" style="font-size: 20px;">
            Cuentas Asignadas al ejecutivo @item.Nombre @item.Apellido
            <span style="height: 250px; overflow-y: scroll;" class="dspl-block">
                @foreach (AplicacionOperaciones.Models.Cliente cliente in (List<AplicacionOperaciones.Models.Cliente>)item.clientes)
                {
                    Html.RenderPartial("_ClientesKam", new ViewDataDictionary() {
                        { "ColorEvent", "success" },
                        { "Id", cliente.Id },
                        { "Codigo", cliente.Codigo },
                        { "Tamaño", "50px" }
                    });
                }
            </span>
        </span>
    </div>
}

