<div id="errorGeneric" style="background-color: #FFDADA; width: 100%; min-height: 100px;">
    <i class="fw-bold" style="font-family: 'Open Sans Condensed', sans-serif;
                            font-style: normal; font-size: 16px;
                            width: 95%; display: block; margin: auto;
                            padding-top: 10px; padding-bottom: 10px;
                            color: #FF5151;">
        Atención la plataforma informa lo siguiente:
        <span id="closeErrorGeneric" 
              style="position: absolute; float: right; top: 10px; right: 30px; display: block;" 
              class="glyphicon-tw-7 glyphicon-tw-cancel cursor-pointer"></span>
        <br /><br />
        @Html.Raw(ViewBag.HTMLLoaderError)
    </i>
</div>