<div class="row mt-100">
    <div class="col-12 col-sm-12 col-md-2 col-lg-3">
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 dspl-flex mt-10">
                <div class="dspl-inline-block m-auto">
                    <i class="glyphicon-tw-14 glyphicon-tw-problema"></i>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-10">
                <h1 class="family-teamwork ta-center fs-50 fw-bold color-100x3">LO SENTIMOS MUCHO!</h1>
                <h2 class="family-teamwork ta-center fs-30 fw-bold color-100x3">Ha ocurrido algo inesperado en la plataforma!</h2>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 dspl-flex mt-10">
                <div class="ta-center m-auto">
                    <p class="family-teamwork fs-20">@Html.Raw(ViewData["Message"])</p>
                    <p class="family-teamwork fs-20">Nuestros ingenieros han sido notificados del problema, disculpe el inconveniente.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-2 col-lg-3">
    </div>
</div>