<div style="background-color: #FFDADA; width: 100%; margin-top: -20px; margin-bottom: -10px;">
    <i style="font-family: 'Open Sans Condensed', sans-serif;
                                            font-style: normal; font-size: 13px;
                                            width: 95%; display: block; margin: auto;
                                            padding-top: 10px; padding-bottom: 10px;
                                            color: #FF5151;">
        Atención la plataforma informa lo siguiente:
        <br />
        @ViewBag.Message
    </i>
</div> 