<div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.9); z-index: 99999999999; align-items:center; display: flex; vertical-align: middle;">
    <div style="width: 90%;" class="ta-center mr-auto ml-auto">
        <h1 class="family-teamwork fs-30 ta-center dspl-block color-fx3">
            Danos un momento<br />Estamos trabajando en tu solicitud
        </h1>
        <h2 class="family-teamwork ta-center dspl-block color-fx3" style="font-size: 19px;">Buscando los datos solicitados...</h2>
        <div class="mt-20">
            <ul class="loader loading">
                <li class="teamwork"></li>
                <li class="danger"></li>
                <li class="success"></li>
                <li class="warning"></li>
                <li class="teamwork"></li>
            </ul>
        </div>
        <p class="family-teamwork ta-center ml-auto mr-auto dspl-block color-fx3" style="width: 70%; font-size: 18px;">
            Favor no cerrar la pagina, ya que estamos navegando entre mucha información almacenada :)
        </p>
    </div>
</div>