<div class="modal fade" id="modalNoCompatible" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 dspl-flex mt-10">
                        <div class="dspl-inline-block m-auto">
                            <i class="glyphicon-tw-14 glyphicon-tw-error500"></i>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-10">
                        <h1 class="family-teamwork ta-center fs-50 fw-bold color-100x3">Querido Colaborador</h1>
                        <h2 class="family-teamwork ta-center fs-30 fw-bold color-100x3">Desde este navegador no puede acceder a esta aplicación</h2>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 dspl-flex mt-10">
                        <div class="ta-center m-auto">
                            <p class="family-teamwork fs-20">Lo invitamos cordialmente a utilizar alguno de los siguientes navegadores</p>
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="glyphicon-tw-10 glyphicon-tw-chrome"></div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="glyphicon-tw-10 glyphicon-tw-opera"></div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                                    <div class="glyphicon-tw-10 glyphicon-tw-mozilla"></div>
                                </div>
                            </div>
                            <p class="family-teamwork fs-20">Las aplicaciones de Teamwork estan optimizadas y testiadas en estos navegadores desde Noviembre de 2018.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>