<div class="modal fade" id="modalConfirmarEventoTerminado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title family-teamwork">Confirmar Termino</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="family-teamwork color-2178379">
                            Estimado, esta a punto de terminar el/la <i class="tipoTermino" style="font-style: normal;"></i>, una vez confirmado el término, el proceso cambiara de
                            estado, dejandolo como terminado, lo cual significa que la documentación asociada deberá estar subida en la plataforma de BPO, por lo cual el 
                            kam asignado a este proceso podrá tener conocimiento del cierre.
                        </p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-20">
                        <a href="#" class="eventConfirmarTerminado btn btn-success ta-left color-fx3 br-25 height-50"
                           data-motivoanulacion="" data-codigotransaccion="" data-tipoevento="">
                            <i class="glyphicon-tw-6 glyphicon-tw-check dspl-inlblc mb-15neg"></i>
                            <span class="dspl-inlblc">
                                <i class="family-teamwork dspl-blc fs-14 fst-normal mb-8neg">Declarar</i>
                                <i class="family-teamwork dspl-blc fs-14 fst-normal">Terminado</i>
                            </span>
                        </a>
                        <a href="#" class="eventDescartarTerminado btn btn-danger ta-left color-fx3 br-25 height-50">
                            <i class="glyphicon-tw-6 glyphicon-tw-cancel dspl-inlblc mb-15neg"></i>
                            <span class="dspl-inlblc">
                                <i class="family-teamwork dspl-blc fs-14 fst-normal mb-8neg">Descartar el</i>
                                <i class="family-teamwork dspl-blc fs-14 fst-normal">Terminado</i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>