<div class="modal fade" id="modalConfirmarEvento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title family-teamwork">Confirmar Anulación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="family-teamwork color-2178379">
                            Estimado, esta a punto de anular el/la <i class="tipoAnulacion" style="font-style: normal;"></i>, una vez confirmada la anulación
                            se le informará al área de contratos la anulación para no ser considerada para la generación de documentación en la plataforma de BPO,
                            y que no sea considerado en los informes de altas para remuneraciones, es importante que tenga presente, si posteriormente a la anulación
                            de el/la <i class="tipoAnulacion" style="font-style: normal;"></i> quiere volver a dejarla activa, debe revertir la anulación, con esto
                            se le informará al área de contratos que se reactiva la solicitud para volver a ser generada.
                        </p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="family-teamwork">
                            Motivo de la anulación
                        </p>
                        <p class="family-teamwork color-2178379 mt-20neg" id="glosaMotivoAnulacion">
                        </p>
                    </div>  
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-20">
                        <a href="#" class="eventConfirmarAnulacion btn btn-success ta-left color-fx3 br-25 height-50" 
                            data-motivoanulacion="" data-codigotransaccion="" data-tipoevento="">
                            <i class="glyphicon-tw-6 glyphicon-tw-check dspl-inlblc mb-15neg"></i>
                            <span class="dspl-inlblc">
                                <i class="family-teamwork dspl-blc fs-14 fst-normal mb-8neg">Declarar e informar la</i>
                                <i class="family-teamwork dspl-blc fs-14 fst-normal">Anulación</i>
                            </span>
                        </a>
                        <a href="#" class="eventDescartarAnulacion btn btn-danger ta-left color-fx3 br-25 height-50">
                            <i class="glyphicon-tw-6 glyphicon-tw-cancel dspl-inlblc mb-15neg"></i>
                            <span class="dspl-inlblc">
                                <i class="family-teamwork dspl-blc fs-14 fst-normal mb-8neg">Descartar la</i>
                                <i class="family-teamwork dspl-blc fs-14 fst-normal">Anulación</i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>