<div class="modal fade" id="modelExpiracion" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 dspl-flex mt-10">
                        <div class="dspl-inline-block m-auto">
                            <i class="glyphicon-tw-14 glyphicon-tw-problema"></i>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-10">
                        <h1 class="family-teamwork ta-center fs-50 fw-bold color-100x3">Le informamos lamentablemente que</h1>
                        <h2 class="family-teamwork ta-center fs-30 fw-bold color-100x3">Ha expirado su sesión!</h2>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 dspl-flex mt-10">
                        <div class="ta-center m-auto">
                            <p class="family-teamwork fs-20">Lo invitamos cordialmente a volver a iniciar sesión en la plataforma de Operaciones!</p>
                            <a href="http://@Request.Url.AbsoluteUri.Split('/')[2]/Auth/SignOut" class="btn btn-teamwork ta-left color-fx3 br-25 height-50">
                                <i class="glyphicon-tw-6 glyphicon-tw-login dspl-inlblc mb-18neg"></i>
                                <span class="dspl-inlblc">
                                    <i class="family-teamwork dspl-blc fs-14 fst-normal mb-8neg">Volver a ingresar a la</i>
                                    <i class="family-teamwork dspl-blc fs-14 fst-normal">Plataforma de Operaciones</i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>