<div class="mt-20">
    <p class="family-teamwork fw-bold color-100x3">@ViewData["TitleOne"]</p>
    <div class="dspl-block @ViewData["GlyphiconColor"] m-auto" style="width: 80px; height: 80px; border-radius: 50%; display: flex; align-items: center; vertical-align: middle;">
        <i class="glyphicon-tw-20 @ViewData["Glyphicon"]"></i>
    </div>
    <p class="family-teamwork fw-bold color-100x3">@ViewData["TitleTwo"]</p>
</div>