@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Seguro Covid Clientes";
}

<div class="row m-auto mt-100" style="width: 92%;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="new-family-teamwork color-100x3" style="font-weight: 100;">
            <img src="~/Resources/svgnuevos/oficinas.svg" width="60" /> Administración de Clientes Seguro Covid
        </h1>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 headerPersonal">

    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-40">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 personal">

        </div>
    </div>
</div>

<div class="modal-tw hidden-modal-tw">
    <div class="modal-tw-body" id="moda">

    </div>
</div>

<span class="alert__notification"></span>

<script type="module" src="~/Src/containers/finanzas/__SeguroCovid.js"></script>