@*<div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-1 col-lg-1"></div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-10 responsive-md-blind-style">
                <h1 class="family-teamwork fs-30 color-70x3 mt-responsive-md">Plataforma TeamWork</h1>
                <h2 class="family-teamwork fs-18 color-70x3">
                    Plataforma integrada para la gestión de las operaciones del día a día de las diferentes áreas de la empresa.
                </h2>
            </div>
            <div class="col-md-1 col-lg-1"></div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mheight-100">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-10" id="errorSignIn">
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-1 col-lg-1"></div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 dspl-blc">
                <div class="form-group">
                    <span class="glyphicon-tw-correo pst-abs mt-1 width-25 height-25 mt-4"></span>
                    <label class="labelinputw">Correo electrónico TeamWork</label>
                    <input type="text" id="username" class="inputw inputpdl-30" placeholder="Correo TeamWork" value="@ViewBag.cookieUsername" />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 mt-responsive-sm">
                <div class="form-group">
                    <span class="glyphicon-tw-password pst-abs mt-1 width-25 height-25 mt-4"></span>
                    <label class="labelinputw">Contraseña</label>
                    <input type="password" id="password" class="inputw inputpdl-30" placeholder="Contreseña" value="@ViewBag.cookiePassword" />
                </div>
            </div>
            <div class="col-md-1 col-lg-1"></div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 pdl-responsive-md">
                <label class="switch mt-15">
                    <input type="checkbox" id="cookieActive">
                    <span class="slider round"></span>
                </label>
                <label class="family-teamwork fs-16 fw-bold">Recordar Cuenta</label>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 ta-right pdr-responsive-md mt-responsive-md mt-responsive-sm">
                <a href="#" class="btn btn-danger ta-left br-25 height-50">
                    <i class="glyphicon-tw-6 glyphicon-tw-recupclave dspl-inlblc mb-10neg"></i>
                    <span class="dspl-inlblc">
                        <i class="family-teamwork dspl-blc fs-14 fst-normal mb-8neg">Haz olvidado</i>
                        <i class="family-teamwork dspl-blc fs-14 fst-normal">Tú contraseña</i>
                    </span>
                </a>
                <a href="#" id="signin" class="btn btn-teamwork ta-left color-fx3 br-25 height-50">
                    <i class="glyphicon-tw-6 glyphicon-tw-login dspl-inlblc mb-10neg"></i>
                    <span class="dspl-inlblc">
                        <i class="family-teamwork dspl-blc fs-14 fst-normal mb-8neg">Ingresar a la</i>
                        <i class="family-teamwork dspl-blc fs-14 fst-normal">Plataforma Teamwork</i>
                    </span>
                </a>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>*@
<div class="col-12 col-sm-12 col-md-12 col-lg-12" id="errorSignIn">
</div>
<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="md-form form-sm">
                <i class="fas fa-user prefix" style="margin-top: 4px;"></i>
                <input type="text" id="username" class="form-control">
                <label for="username">Nombre de Usuario (Ej. nombre.apellido)</label>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: -30px;">
            <div class="md-form form-sm">
                <i class="fas fa-key prefix" style="margin-top: 4px;"></i>
                <input type="password" id="password" class="form-control">
                <label for="password">Contraseña</label>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
            <a href="#" id="signin" class="btn btn-teamwork color-fx3 btn-rounded"><i class="fas fa-sign-in-alt"></i> Ingresar a Plataforma Teamwork</a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ta-center mt-20">
            <h6 style="font-size: 13px;"> Importante: Cualquier error con el sistema debe ser reportado mediante la mesa de ayuda proporcionada por el área Ti de Teamwork.</h6>
            <h6 class="mt-20" style="font-size: 13px;"> Sistema Administrado por TEAMWORK SISTEMAS</h6>
            <h6 style="font-size: 13px;"> Copyright &copy; TeamWork @DateTime.Now.Year &bull; TeamWork Sistemas</h6>
        </div>
    </div>
</div>
