<div class="col-md-12 col-lg-12">
    <h1 class="family-teamwork fs-30 ta-center dspl-block">Autentificando al colaborador de Teamwork</h1>
    <br />
    <ul class="loader loading">
        <li class="teamwork"></li>
        <li class="danger"></li>
        <li class="success"></li>
        <li class="warning"></li>
        <li class="teamwork"></li>
    </ul>
    <p class="family-teamwork fs-20 ta-center ml-auto mr-auto" style="width: 70%;">Espere un momento mientras autentificamos las credenciales de acceso para la plataforma Teamwork, esto puede tomar un rato...</p>
</div>