<div class="modal fade" id="modalFiltroBpo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title family-teamwork">Descarga Archivo carta de Baja  BPO <b>CONFIRMADA</b> <i class="tipoAnulacion" style="font-style: normal;"></i></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="family-teamwork">
                            A traves de las siguientes opciones podra descargar el archivo de carga masiva de BPO con el cual podra generar cartas de bajas CONFIRMADAS. Fechas de inicio y termino estan basadas en la fecha en que el KAM solicito la baja.
                        </p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 errorModal">
                    </div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                        <select class="family-teamwork form-control" id="selectEmpresa">
                            <option value="0">Indicar Empresa</option>
                            <option value="1">Servicios Transitorios</option>
                            <option value="2">Recursos Humanos</option>
                            <option value="3">Consultora</option>
                        </select>

                    </div>
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                        <select class="family-teamwork form-control" id="selectTodas">
                            <option value="0">Todas las Pendientes</option>
                            <option value="1">Pendientes por fecha</option>
                            <option value="1">Generados por fecha</option>
                        </select>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="row dspl-none" id="filtros">

                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <input id="fechaInicio" type="text" placeholder="Inicio" class="form-control FECHA" readonly="readonly" style="background-color:white" />

                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                                <input id="fechaTermino" type="text" placeholder="Termino" class="form-control FECHA" readonly="readonly" style="background-color:white" />
                            </div>
                        </div>
                     </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <br />
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <a id="GenerarArchivoBPOFiltrado" href="@ViewBag.PathCodifiedExcel?excel=YnBvZmlsdHJv" class="btn btn-teamwork"
                               style="border-radius: 25px; height: 40px; color: #fff; float:right">
                                <span style="display: inline-block; margin-top: -11px;">
                                    <i style="font-family: 'Open Sans Condensed', sans-serif;
                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Descargar Archivo</i>

                                </span>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>