<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <i class="glyphicon-tw-14 @ViewData["Glyphicon"] mt-auto ml-auto mr-auto mb-auto"></i>
        <h2 class="family-teamwork mt-auto ml-auto mr-auto mb-30 ta-center" style="width: 80%;">@Html.Raw(ViewData["Message"])</h2>
    </div>
</div>