<div class="col-md-12 col-lg-12">
    <h1 class="family-teamwork fs-30 ta-center dspl-block">Estimado colaborador de Teamwork</h1>
    <br />
    <ul class="loader loading">
        <li class="teamwork"></li>
        <li class="danger"></li>
        <li class="success"></li>
        <li class="warning"></li>
        <li class="teamwork"></li>
    </ul>
    <p class="family-teamwork fs-20 ta-center ml-auto mr-auto" style="width: 70%;">
        Estamos trabajando en tu petición, este proceso puede tomar algun tiempo, espere mientras terminamos...
    </p>
</div>