<div class="mt-100 ml-auto mr-auto" style="width: 92%; font-weight: 100;" id="filterProcesos">
    <h1 class="new-family-teamwork" style="font-weight: 100;">
        <i class="glyphicon-tw-5 glyphicon-tw-documento"></i> Procesos de Contrato
    </h1>
    <div class="mt-50">
        <select id="filterContratos" class="form-control family-teamwork eventSearchSolicitudes new-family-teamwork" style="width: 200px; display: inline-block; font-weight: 100;">
            <option value="">Seleccione Filtro</option>
            <option value="Ficha">Ficha</option>
            <option value="Nombre">Nombre Trabajador</option>
            <option value="Rut">Rut Trabajador</option>
            <option value="Cliente">Cliente (Area de Negocio)</option>
        </select>
        <input type="text" id="dataFilterContratos" class="form-control new-family-teamwork dspl-inline-block" style="width: 300px; font-weight: 100;" />
        <button class="btn btn-teamwork color-fx3 new-family-teamwork pdt-10 pdl-20 pdr-20 pdb-10" style="font-weight: 100; border: none; border-radius: 50px;"
                onclick="handleClickBuscarSolicitudContratos(this)" data-input="dataFilterContratos" data-selector="filterContratos">
            Buscar Procesos
        </button>
    </div>
</div>

<div class="mt-100 ml-auto mr-auto" style="width: 92%; font-weight: 100;" id="ownerProcesosContratos">
</div>

<span id="target__notify__event"></span>

<table style="width: 92%; font-weight: 100;" class="mt-50 ml-auto mr-auto new-family-teamwork" id="procesoscontratos">
    <tbody></tbody>
</table>

<div class="mb-100 ta-center  new-family-teamwork mt-50" style="width: 92%; font-weight: 100;">
    <div id="pagination__procesoscontratos"></div>
</div>

<div class="modal-tw hidden-modal-tw">
    <div class="modal-tw-body">

    </div>
</div>

<script type="module" src="~/Src/containers/Proceso/Contratos.js"></script>