@{
    Layout = "~/Views/Shared/_Menu.cshtml";
    ViewBag.Title = "Procesos de Contratos";
}

@Html.Partial("Containers/Proceso/_Contratos")

<div class="modal-tw hidden-modal-tw">
    <div class="modal-tw-body">

    </div>
</div>

@*<script async>

        

    </script>*@