@foreach (AplicacionOperaciones.Models.Recepcion.Recepcionar item in ViewBag.ReferenciaDespachado)
{
    <div class="row ta-center" style="width: 100%;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="family-teamwork" style="font-size: 20px;"><img src="~/Resources/corregir.png" class="ml-auto mr-auto dspl-inline-block" style="width: 30px;" /> @item.Message</h1>
            <img src="~/Resources/caja.png" class="ml-auto mr-auto dspl-inline-block" style="width: 70px;"/>
            <h1 class="family-teamwork" style="font-size: 20px;">Se ha recepcionado el contenedor de codigo</h1>
            <h1 class="family-teamwork mt-10neg">@item.CodigoDespacho</h1>
        </div>
    </div>
    <div class="row ta-center" style="width: 100%;">
        <div class="col-lg-3"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <h1 class="family-teamwork color-428BCA fw-bold" style="font-size: 50px;">@item.Total</h1>
            <h3 class="family-teamwork mt-20neg" style="font-size: 20px;">Documentos totales Recepcionados</h3>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h2 class="family-teamwork ta-center">Para abrir un nuevo contenedor debe leer el codigo de barra de alguno de estos documentos</h2>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <h4 class="family-teamwork ta-center">Comprobante de Despacho</h4>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <img src="~/Resources/ilustracionlecturacheque.jpg" class="dspl-block m-auto" style="width: 200px;" />
                    <h4 class="family-teamwork ta-center">Cheque Impreso</h4>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                    <img src="~/Resources/ilustracionlecturadocumentos.jpg" class="dspl-block m-auto" style="width: 200px;" />
                    <h4 class="family-teamwork ta-center">Finiquito o Caratula Finiquito</h4>
                </div>
            </div>
        </div>
    </div>
}