<div class="col-12 col-sm-12 col-md-12 col-lg-12">
    @foreach (Teamwork.Model.Operaciones.SolicitudCargo item in ViewBag.RenderizadoSolicitudCargoMod)
    {
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3 mt-10">
                <div style="position: absolute; z-index: 999; top: 0; width: 100%; border: 1px solid rgb(200, 200, 200); padding-top: 2.5%; padding-bottom: 2.5%;
                    background-color: rgb(240, 240, 240); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);" class="autocomplete">
                    <div>
                        <span disabled="disabled" class="enabled-bono dspl-block m-auto pdl-5 pdr-5 pdt-5 pdb-5 family-teamwork ta-center cursor-pointer
                        br-1-solid-200x3 bb-1-solid-200x3 bt-1-solid-200x3 bl-1-solid-200x3" style="width: 95%; font-size: 16px;">SELECCIONE BONO &#x25BE;</span>
                    </div>
                    <div class="content-busqueda-autocomplete dspl-none">
                        @using (Ajax.BeginForm("AutocompleteBonos", "Operaciones", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "contentElementAutocomplete",
                            InsertionMode = InsertionMode.Replace
                        }, new { @style = "display: block;" }))
                        {
                            <input type="text" name="empresa" value="@item.Empresa" class="dspl-none" />
                            <input type="text" name="dataFilter" autocomplete="off" class="dspl-block m-auto pdl-30 pdr-5 pdt-5 pdb-5 family-teamwork busqueda-automplete input-nofocus" style="width: 95%;" placeholder="Buscar Bono" />
                            <i class="glyphicon-tw-buscarselect" style="margin-left: 14px; margin-top: -30px; width: 20px; height: 20px; position: absolute;"></i>
                            <input type="submit" id="btnAutocomplete" class="dspl-none" />
                        }

                    </div>
                    <div class="content-element-autocomplete m-auto family-teamwork dspl-none" style="height: 300px; background-color: #fff; width: 95%; overflow-y: scroll; ">
                        <div id="contentElementAutocomplete">
                            @Html.Partial("Teamwork/_BonosElementAutocomplete")
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mt-15">
                @using (Ajax.BeginForm("AgregarBono", "Operaciones", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "contentBonos",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loader"
                }))
                {
                    <input type="text" class="dspl-none" required value="" id="bonoCodigo" name="codigoBono" />
                    <input type="text" class="dspl-none" value="@item.CodigoSolicitud" name="codigoCargoMod" />
                    <input type="number" name="monto" required class="input-nofocus dspl-inline-block mt-5 ml-10 pdl-5 pdr-5 pdt-5 pdb-5 family-teamwork " style="width: 300px;" placeholder="Monto Asociado al Bono" />
                    <button type="submit" class="btn btn-success mt-2"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-check" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Agregar</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">Bono</i>
                        </span>
                    </button>
                }

                @*@using (Ajax.BeginForm("ConfirmarEvento", "Operaciones", new AjaxOptions()
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "contentOperaciones",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "ShowModalConfirmacion",
                    LoadingElementId = "loader"
                }))
                {
                    <input type="text" class="dspl-none" name="option" value="AgregarNuevoBono" />
                    <input type="text" class="dspl-none" name="codigoCargoMod" value="@item.CodigoSolicitud" />
                    <button type="submit" class="btn btn-success mt-2"
                            style="border-radius: 25px; height: 40px; margin-top: 12px; text-align: left; color: #fff;">
                        <i class="glyphicon-tw-7 glyphicon-tw-add" style="display: inline-block;"></i>
                        <span style="display: inline-block; margin-top: -7px;">
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block; margin-bottom: -8px;">Agregar Bono</i>
                            <i style="font-family: 'Open Sans Condensed', sans-serif;
                                        font-size: 14px; font-style: normal; display: block;">No Considerado</i>
                        </span>
                    </button>
                }*@
            </div>
        </div>
    }
</div>  

<script>
    $(document).on("click", ".option-bono", function () {
        $("#bonoCodigo").val($(this).val());
        $(".enabled-bono").html($(this).attr("data-html-value") + " &#x25BE;");

        //$(".autocomplete").css("border", "none").css("background-color", "transparent").css("box-shadow", "none");
        //$(".enabled-cliente").css("background-color", "rgb(200, 200, 200)");
        $(".content-busqueda-autocomplete").hide();
        $(".content-element-autocomplete").hide();
    });

    $(document).on("click", ".enabled-bono", function () {
        if (!$(".content-busqueda-autocomplete").is(":visible")) {
            $(".content-busqueda-autocomplete").show();
            $(".content-element-autocomplete").show();
        }
        else {
            $(".content-busqueda-autocomplete").hide();
            $(".content-element-autocomplete").hide();
        }

    });

    $(document).on("keyup", ".busqueda-automplete", function () {
        $("#btnAutocomplete").trigger("click");
    })
</script>